<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="adminNavFragment">
		<ul class="navbar justify-content:space-between navbar-dark bg-dark fs-5">
			<li class="navbar-item">
			</li>
			<li class="navbar-item">
				<a class="nav-link active text-light" href="/admin/notices">공지사항 관리</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/admin/exchanges">환전 관리</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/admin/coupons-form">쿠폰 관리</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/admin/talents">판매 등록 신청 관리</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/admin/company-sales">매출 관리</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/admin/refund">환불 관리</a>
			</li>
			<li class="navbar-item">
			</li>
		</ul>
	</div> <!-- adminNavFragment -->
</html>