<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="footerFragment">
		<hr>
			<ul class="nav justify-content-between bg-white">
				<li></li>
				<li class="nav-item">
					<img id="footer-image" src="/image/panda.png">
				</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li class="nav-item">
					<span class="navbar-text">(주)재능판다</span> <br>
					<span class="navbar-text">사업자등록번호: 482-17-01441</span> <br>
					<span class="navbar-text">통신판매업신고번호:제2023-서울-1834호</span> <br>
					<span class="navbar-text">서울특별시 성태구 영광동 501-2</span> <br>
					<span class="navbar-text"><a href="mailto:jpanda@telent.panda">jpanda@talent.panda</a></span>
				</li>
				<li></li>
			</ul>
			<div class="text_center">
				<span class="navbar-text">(주)재능판다 사이트의 상품/판매자 정보, 콘텐츠 내 등에 대한 무단 복제, 배포, 스크래핑 등의 행위는 저작권법, 콘텐츠산업 진흥법 등에 의해 엄격히 금지됩니다.</span>
			</div>
	</div>
</html>