<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment">
	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>재능판다<span>logo</span></h3>
			<p class="footer-links">
				<a href="#" class="link-1">Home</a>
				<a href="#">Blog</a>
				<a href="#">Pricing</a>
				<a href="#">About</a>
				<a href="#">Faq</a>
				<a href="#">Contact</a>
			</p>
			<p class="footer-company-name">(주)재능판다 © 2023</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>서울특별시 성태구 영광동 501-2</span></p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>02-8484-8989</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:jpanda@telent.panda">jpanda@telent.panda</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>사업자 등록 번호: 482-17-01441</span>
				<span>통신판매업신고번호:제2023-서울-1834호</span>
				<span>특허권, 실용신안권, 디자인권, 상표권 보호안내</span>
				(주)재능판다 사이트의 상품/판매자 정보, 콘텐츠 내 등에 대한 무단 복제, 배포, 스크래핑 등의 행위는 저작권법, 콘텐츠산업 진흥법 등에 의해 엄격히 금지됩니다.
			</p>
			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</div>
</html>