<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
<nav id="header" class="navbar navbar-expand-lg bg-white">
	<div class="container-fluid justify-content-between">
		<div>
			<img class="navbar-brand"  id="logo-image" src="/image/logo.png" onclick="location.href='/main'">
		</div>
		<div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: center;">
			<div class="navbar-nav">
				<div class="nav-item  align-self-center">
					<div class="container-fluid">
						<form class="d-flex" role="search">
							<input class="form-control me-2" id="search" type="search" placeholder="검색어를 입력하세요." aria-label="Search">
							<button class="btn btn-outline-success text-nowrap" id='search-btn' type="button">검색</button>
						</form>
					</div>
	    		</div>
			</div>
		</div>
		<div id="navbar-total-bamboo">
			<img alt="totalBamboo" src="/image/common/bamboo-icon.png" style="width: 25px; height: 25px;">
			<span id="total-bamboo"></span>
		</div>
		<div class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<img id="login-image" src="">
			</a>
			<ul class="dropdown-menu dropdown-menu">
			</ul>
		</div>
	</div>
</nav>
  </div> <!-- headerFragment -->
</html>