<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="navFragment">
		<ul class="navbar justify-content:space-between navbar-dark bg-dark fs-5">
			<li class="navbar-item">
			</li>
			<li class="navbar-item">
				<a class="nav-link active text-light" href="/talent/write-form">재능 등록</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/board">판매게시판</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/trade">거래관리</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/charge/">충전/내역</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/mypage">마이페이지</a>
			</li>
			<li class="navbar-item">
		  		<a class="nav-link active text-light" href="/talent/notice">공지사항</a>
			</li>
			<li class="navbar-item">
			</li>
		</ul>
	</div> <!-- navFragment -->
</html>