<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/default-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>거래관리</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
	<style>
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
	}
	
	#trade-container {
		max-width: 80%;
		margin: 0 auto;
		padding: 20px;
	}
	
	.content{
		width : 100%;
		display: flex;
		gap : 5%;
		justify-content: space-between;
		align-items: baseline;
	}
	
	.filter-buttons {
		width : 80%;
		margin-bottom: 20px;
	}
	
	.filter-buttons button {
		background-color: #333;
		color: white;
		margin-right : 10px;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		line-height: 1;
	}
	
	.filter-buttons button:hover {
		background-color: gray;
	}
	
	.filter-buttons button:active {
		background-color: #555;
		color: #fff;
		position: relative;
		top: 1px;
	}
	
	.page-title {
		margin : 0 auto;
		width : 80%;
		font-size: 22px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		background-color: #333;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		margin-bottom: 5%;
	}
	
	#list-print{
		width: 80%; 
	}
	
	.trade-list{
		flex : 5;
		border: 1px solid;
		margin-bottom: 2px;
		background-color: #8FBC8F;
	}
	
	.sidebar{
		flex : 1;
		background-color: #000;
    	color: #fff;
    	border-radius: 20px;
    	padding: 10px;
    	box-sizing: border-box;
    	font-family: sans-serif;
	}
	
	.card.text-center{
		margin-bottom: 3%;
	}
	
	.card-header{
		font-weight: bold;
	}
	
	.card-title{
		font-weight: bold;
		font-size: x-large;
	}
	
	.refund-btn, .exchange-btn, .repost-btn, .repost-btn, .end-sell-btn, .refund-cancle-btn{
		float: right;
		margin-right: 1%;
	}
	
	.card-text-bamboo{
		color : rgb(25, 135, 84);
		font-weight: bold;
	}
	
	.text-center{
		text-align: center;
	}
	
	.bamboo-icon{
		width: 25px;
		height: 25px;
		
	}
	
	.new-cards{
		position: relative;
		border : medium inset highlight;
		animation: shake ease-in-out;
		animation-duration: 0.4s;
		animation-iteration-count: infinite;
	}
		
	@keyframes shake {
		0% { transform: translate(0, 0); }
		25% { transform: translate(-2px, 0); }
		50% { transform: translate(0, -2px); }
		75% { transform: translate(2px, 0); }
		100% { transform: translate(0, 0); }
	}
	
	.update-dot{
		position: relative;
		border : medium inset highlight;
		animation: shake ease-in-out;
		animation-duration: 0.4s;
		animation-iteration-count: infinite;
	}
	</style>
	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>
<div>
	<th:block layout:fragment="content">
	<!-- container -->
	<div id="trade-container">
		<!-- title bar -->
		<div class="page-title">
			거래관리
		</div><!-- /title bar -->
		
		<!-- filter-buttons -->
		<div class="filter-buttons">
			<button class="filter-button" value="all">전체</button>
			<button class="filter-button" value="sell">판매</button>
			<button class="filter-button" value="buy">구매</button>
			<button class="filter-button" value="refund">환불</button>
		</div> <!-- /filter-buttons -->
			<div class = "content">
		<!-- content -->
			<!-- list print -->
			<div id="list-print">
			</div> <!-- /list print -->
			<!-- 환불신청 Modal page -->
			<div id="refund-modal" class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">재능 환불 신청</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="refund-talentNo">
							<input type="hidden" id="refund-refundBamboo">
							환불 가능 밤부 : <span id="span-refund-refundBamboo"></span> <img src="/image/common/bamboo-icon.png" class="bamboo-icon"><p />
							환불 사유를 선택해 주세요<p />
							<input type="radio" name="issue" value="단순 변심" checked="checked">단순 변심<br>
						    <input type="radio" name="issue" value="실수">실수<br>
						    <input type="radio" name="issue" value="재능 수준 낮음">재능 수준 낮음<br>
						    <input type="radio" name="issue" value="기타">기타<br>
						    	<input type="text" id="custom-issue-input" placeholder="사유를 입력해주세요.">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" id="refund-submit-btn" class="btn btn-success">제출</button>
						</div>
					</div>	
				</div>
			</div> <!-- 환불신청 Modal page -->	
		
			<!-- sidebar -->
			<div class="sidebar">
				★ 판매 ★<br>
				검토중 : <span id="sidebar-submit-count"> 건</span><br>
				판매중 : <span id="sidebar-sell-count"> 건</span><br> 
				판매완료 : <span id="sidebar-sold-count"> 건</span><br>
				★ 구매 ★<br>
				구매완료 : <span id="sidebar-buy-count"> 건</span><br>
				★ 환불 ★<br>
				환불신청 : <span id="sidebar-refund-submit-count"> 건</span><br>
				환불완료 : <span id="sidebar-refund-approve-count"> 건</span><br>
				환불반려 : <span id="sidebar-refund-reject-count"> 건</span><br>
			</div> <!-- /sidebar -->
		</div> <!-- /content -->
	</div><!-- container -->
	
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	/**
	 * statList 가공
	 */
	 $(function(){
		 let statList = [[${statList}]];
		 $.each(statList, function(index, stat){
			 console.log(stat);
			 switch(stat.statType){
			 	case 'sell' : 
			 		$('#sidebar-submit-count').prepend(stat.submitCount);
			 		$('#sidebar-sell-count').prepend(stat.sellCount);
			 		$('#sidebar-sold-count').prepend(stat.soldCount);
			 	break;
			 	
			 	case 'buy' : 
			 		$('#sidebar-buy-count').prepend(stat.buyCount);
			 	break;
			 	
			 	case 'refund' : 
			 		$('#sidebar-refund-submit-count').prepend(stat.refundSubmitCount);
			 		$('#sidebar-refund-approve-count').prepend(stat.refundApproveCount);
			 		$('#sidebar-refund-reject-count').prepend(stat.refundRejectCount);
			 	break;
			 }
			 
		 })
		 
	 });
	/**
	 * TimeStamp형식으로의 현재 Date 변환
	 */
	function getNow(){
		const now = new Date(Date.now());
		const year = now.getFullYear();
		const month = String(now.getMonth() + 1).padStart(2, '0');
		const day = String(now.getDate()).padStart(2, '0');
		const hours = String(now.getHours()).padStart(2, '0');
		const minutes = String(now.getMinutes()).padStart(2, '0');
		const seconds = String(now.getSeconds()).padStart(2, '0');
		
		const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
		
		return formattedDate;
	}

	/**
	 * WebSocket
	 */

	//웹소켓 객체 생성
	let webSocket = new WebSocket("ws://localhost:8888/trade-ws");

	webSocket.onopen = function(){
		console.log("webSocket opened");
	}

	webSocket.onmessage = function(message){
		console.log(message);
		//추후에 구독알림식으로 변경
		//alert("거래정보가 갱신되었습니다.");
		
		let tradeInfos = JSON.parse(message.data);
		
		updateList($('#selected-filter').val())
			.then(function(){
				$.each(tradeInfos, function(index, tradeInfo){
					console.log("tradeInfo.listType : " + tradeInfo.listType);
					let listType = tradeInfo.listType;
					if(tradeInfo.listType == 'exchange'){
						listType = 'sell';
					}
					updateAlarm(tradeInfo.listType, tradeInfo.talentNo, new Date().toISOString());
				});
			})
			.catch(function(error){
				console.log(error);
			});	
	}

	webSocket.onclosed = function(){
		console.log("server closed");
	}

	/**
	 * Time출력형식 변경
	 */
	function timestampToCustomFormat(timestamp){
		let date = new Date(timestamp);
		let formatted_date = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
		return formatted_date;
	}

	/**
	 * trade페이지 로드 완료시
	 * 전체 버튼 클릭
	 */
	$(function() {
		$(".filter-button[value='all']").click();
	});

	/**
	 * 판매종료 버튼 Ajax 통신 function
	 */
	$(document).on("click", ".end-sell-btn", function(){
		let talentNo = $(this).attr('id').substr(8);
		console.log('판매종료 talentNo : ' + talentNo);
		if(confirm("판매를 종료하시겠습니까?")){
			$.ajax(
					{
						type : "PUT",
						url : "/trade/talents/"+ talentNo,
						dataType : 'text',
						contentType: 'application/json',
						data : JSON.stringify({
							talentStatus : '판매종료',
							statusDate : Date.now()
							}),
						success : function(result){
							console.log(result);
							alert('재능 판매를 종료하였습니다.');
							$(".filter-button[value='all']").click();
						},
						error : function(){
							alert("end-sell-btn function error");
						}
					}
				);
		}
		
	});

	/**
	 * 재등록버튼 Ajax 통신
	 */
	$(document).on("click", ".repost-btn", function(){
		let talentNo = $(this).attr('id').substr(8);
		console.log("talentNo : " + talentNo);
		
		if(confirm("재능을 재등록 하시겠습니까?")){
			$.ajax({
					type : "PUT",
					url : "/trade/talents/" + talentNo,
					contentType: 'application/json',
					data : JSON.stringify({
							talentStatus : '검토중',
							statusDate : Date.now()
							}),
					dataType : 'text',
					success : function(message){
						console.log(message);
						alert("재능 재등록을 신청하였습니다.");
						$(".filter-button[value = 'all']").click();
					},
					error : function(){
						alert('repost btn function error');
					}
			});	
		}
	});

	/**
	 * 환전하기 버튼 Ajax 통신 function
	 */
	$(document).on("click", ".exchange-btn", function(){
		let $this = $(this);
		let talentNo = $this.attr('id').substr(8);
		console.log('talentNo : ' + talentNo);
		if(confirm('환전을 신청하시겠습니까?')){
			$.ajax(
					{
						type : "POST",
						url : "/trade/exchanges/"+ talentNo,
						contentType: 'application/json',
						dataType : 'text',
						success : function(message){
							console.log(message);
							alert('환전 신청에 성공하였습니다.');
							$(".filter-button[value='all']").click();	
						},
						error : function(){
							alert("exchange-btn function() error");
						},
					}		
				);	 
		}
		
	});

	/**
	 * 환불취소 버튼 Ajax 통신 function
	 */
	$(document).on("click", ".refund-cancle-btn", function(){
		let refundPurchaseNo = $(this).attr('id').substr(10);
		console.log('refundPurchaseNo : ' + refundPurchaseNo);
		if(confirm('환불을 취소하시겠습니까?')){
			$.ajax(
					{
						type : "DELETE",
						url : "/trade/refunds/"+ refundPurchaseNo,
						contentType: 'application/json',
						dataType : 'text',
						success : function(message){
							console.log(message);
							alert("환불이 취소되었습니다.");
							$(".filter-button[value='all']").click();
						},
						error : function(){
							alert("refund-cancle-btn function error");
						},
					}
				);		
		}
		 
	});

	/**
	 * 재능환불 신청 버튼
	 * 팝업창구현 : bootstrap - modal
	 */
	$(document).on('show.bs.modal', '#refund-modal', function (event) {
		// modal로 값 가져오기
		let talentNo = $(event.relatedTarget).data('refund-talentno');
		let saleBamboo = $(event.relatedTarget).data('refund-salebamboo');
		console.log(talentNo + ' , ' + saleBamboo);
		//modal 해당요소에 값 할당
		$('#refund-modal').find('#refund-talentNo').val(talentNo);
		$('#refund-modal').find('#refund-refundBamboo').val(saleBamboo);
		$('#refund-modal').find('#span-refund-refundBamboo').text(saleBamboo);
		
		//사유 기타 선택시 text 노출
		$('#custom-issue-input').hide();
		$("input[name=issue]").change(function() {
	        //기타를 선택하면 등장
			if($("input[name=issue]:checked").val() === "기타") {
			    $("#custom-issue-input").show();
			}  else {
			    $("#custom-issue-input").hide();
			}
		});
		
		$('#refund-submit-btn').on('click', function(){
			if(confirm('환불 신청을 하시겠습니까?')){
				if($('input[name=issue]:checked').val() === '기타'){
				    $('input[name=issue]').val($('#custom-issue-input').val());
				}		
			}
			var talentNo = $("#refund-talentNo").val();
			var refundBamboo = $("#refund-refundBamboo").val();
			var issue = $('input[name="issue"]:checked').val();
			
			$.ajax({
			    type: "POST",
			    url: "/trade/refund",
			    data: JSON.stringify({
			    		'talentNo' : talentNo,
			           	'refundBamboo' : refundBamboo,
			           	'issue' : issue
			    	  }),
			    contentType: 'application/json',
			    success: function(result){
			        console.log(result);
			        alert('재능 환불 신청에 성공하였습니다.');
			        location.reload();
			    },
			    error: function(xhr, status, error){
			        alert("refund-submit-btn function error");
			    }
			});
				
		});
		
	});
	 
	 /**
	 * 환전 재신청 버튼 Ajax 통신
	 */
	 $(document).on("click", ".re-exchange-btn", function(){
		let $this = $(this);
		let talentNo = $this.attr('id').substr(8);
		console.log('talentNo : ' + talentNo);
		if(confirm('환전을 재신청 하시겠습니까?')){
			$.ajax(
					{
						type : "PUT",
						url : "/trade/exchanges/"+ talentNo + "/status",
						dataType : 'text',
						success : function(message){
							console.log(message);
							alert('환전 재신청에 성공하였습니다.');
							$(".filter-button[value='all']").click();	
						},
						error : function(){
							alert("re-exchange-btn function error");
						},
					}		
				);	 
		}
			
	});

	 
	/**
	 * 판매 리스트 출력
	 */
	function getSellList(item){
		let text =  '<div id = "talent-no-' + item.talentNo + '"class = "card text-center sell-card">' + 
						'<div class = "card-header badge text-bg-primary">' + item.talentStatus + '</div>' + 
						'<div class = "card-body">' +  
						'<div class = "card-title">' + item.title + '</div><br>' +
						'<div class = "card-text card-text-bamboo">' + item.saleBamboo + ' <img src="/image/common/bamboo-icon.png" class="bamboo-icon"></div><br>' +
						'<div class = "card-text">' + item.sellCount + '명이 재능을 구매했어요</div>';
					
		if(item.talentStatus === '게시중' && item.exchangeStatus == null){
			text += '<div class = "card-text">' + 
					'<button class="end-sell-btn btn btn-dark" id="sell-no-' + item.talentNo + '">판매종료</button></div>' + 
					'</div><div class = "card-footer text-muted">판매등록날짜 : ' + timestampToCustomFormat(item.regDate) + '</div></div>';
		} else if(item.talentStatus === '판매종료' && item.exchangeStatus == null){
			text += '<div class = "card-text">' + 
					'<button class="exchange-btn btn btn-dark" id="sell-no-' + item.talentNo + '">환전하기</button>' + 
					'<button class="repost-btn btn btn-dark" id="sell-no-' + item.talentNo + '">재등록</button></div>' + 
					'</div><div class = "card-footer text-muted">판매종료날짜 : ' + timestampToCustomFormat(item.statusDate) + '</div></div>';
		} else if(item.exchangeStatus != null){
			switch(item.exchangeStatus){
				case '검토중':
					text += '<div class = "card-text">' + 
					'환전심사가 진행중인 물품입니다.</div>';
					break;
				case '환전완료':
					text += '<div class = "card-text">' + 
					'환전이 완료된 물품입니다.</div>';
					break;
				case '반려':
					text += '<div class = "card-text">' + 
					'환전 신청이 반려되었습니다.</div>' + 
					'<button class="re-exchange-btn btn btn-dark" id="sell-no-' + item.talentNo + '">재신청</button>';
					break;
			}
			
			text += '</div><div class = "card-footer text-muted">판매종료날짜 : ' + timestampToCustomFormat(item.statusDate) + '</div></div>';

		} else {
			text += '</div><div class = "card-footer text-muted">판매등록날짜 : ' + timestampToCustomFormat(item.statusDate) + '</div></div>';
		}
		
		$('#list-print').append(text);
	}

	/**
	 * 구매 리스트 출력
	 */
	function getBuyList(item){
		let text = '<div id = "talent-no-' + item.talentNo + '"class = "card text-center buy-card">' + 
						'<div class = "card-header badge text-bg-success">' + item.talentStatus + '</div>' +
						'<div class = "card-body">' + 
							'<div class = "card-title">' + item.title + '</div><br>' +
							'<div class = "card-text card-text-bamboo">' + item.useBamboo + ' <img src="/image/common/bamboo-icon.png" class="bamboo-icon"></div><br>';
					
		if(item.refundableDate < 0){
			text += '<div class = "card-text">재능 구매가 확정되었어요</div>';
		} else if(item.refundableDate > 0){
			text += '<div class = "card-text">환불 가능일이 ' + item.refundableDate + '일 남았어요</div>' + 
					'<div class = "card-text">' + 
						'<button type="button" data-bs-toggle="modal" data-bs-target="#refund-modal" class="refund-btn btn btn-dark" ' + 
						'data-refund-talentno = ' + item.talentNo + 
						' data-refund-salebamboo = ' + item.useBamboo + 
						'>환불신청</button></div>';
		} else if(item.refundableDate == 0){
			text += '<div class = "card-text"> 환불가능 마지막 날입니다! </div>' + 
					'<div class = "card-text">'+ 
					'<button type="button" data-bs-toggle="modal" data-bs-target="#refund-modal" class="refund-btn btn btn-dark" ' + 
					'data-refund-talentno = ' + item.talentNo + 
					' data-refund-salebamboo = ' + item.useBamboo + 
					'>환불신청</button></div>'; 
		} else {
			text += '';	
		}
		
		text += '</div><div class = "card-footer text-muted">구매날짜 : ' + timestampToCustomFormat(item.purchaseDate) + '</div></div>';
				
		$('#list-print').append(text);		
	}

	/**
	 * 환불 리스트 출력
	 */
	function getRefundList(item){
		let text =  '<div id = "talent-no-' + item.talentNo + '"class = "card text-center refund-card">' +   
						'<div class = "card-header badge text-bg-danger">' + item.refundStatus + '</div>' +
						'<div class = "card-body">' +
							'<div class = "card-title">' + item.title + '</div>' +
							'<div class = "card-text card-text-bamboo">' + item.useBamboo + ' <img src="/image/common/bamboo-icon.png" class="bamboo-icon"></div><br>';
				
		if(item.refundStatus === '검토중'){
			text += '<div class = "card-text"><button class="refund-cancle-btn btn btn-dark" id="refund-no-' + item.refundPurchaseNo + '">신청취소</button> </div>' +
					'</div><div class = "card-footer text-muted">환불신청날짜 : ' + timestampToCustomFormat(item.refundSubmitDate) + '</div></div>'; 
				 
				'</div>';
		} else if(item.refundStatus === '환불완료'){
			text += '</div><div class = "card-footer text-muted">환불신청날짜 : ' + timestampToCustomFormat(item.refundSubmitDate) +   
				'</div><div class = "card-footer text-muted">승인날짜 : ' + timestampToCustomFormat(item.refundApproveDate) + '</div></div>';
		} else if(item.refundStatus === '반려'){
			text += '</div><div class = "card-footer text-muted">환불신청날짜 : ' + timestampToCustomFormat(item.refundSubmitDate) +  
				'</div><div class = "card-footer text-muted">반려날짜 : ' + timestampToCustomFormat(item.refundApproveDate) + '</div></div>';
		} else{
			text += '</div></div>';
		}
		
		$('#list-print').append(text);		
	}

	/**
	 * List Update
	 * 동기적 처리 필요성이 있어서 Promise 객체를 return
	 */
	function updateList(listType){
		return new Promise(function(resolve, reject){
			$.ajax(
					{
						type : "GET",
						url : "/trade/trades",
						data : {'list-type' : listType},
						success : function(list){
							$('#list-print').empty();
							$.each(list, function(index, item){
								if(item.listType === 'sell'){
									getSellList(item);
									updateAlarm(item.listType, item.talentNo, item.statusDate);
								}
								if(item.listType === 'refund'){
									getRefundList(item);
									updateAlarm(item.listType, item.talentNo, item.refundApproveDate);
								}
								if(item.listType === 'buy'){
									getBuyList(item);
								}
								
							});
							
							resolve(list);
							
						},
						error : function(error){
							console.log(error);
							reject(error);
						}
					}		
			);
		});
	}

	/**
	 * 필터링 버튼
	 */
	$('.filter-button').on("click", function(){
		if($('#selected-filter') == null){
		} else {
			$('#selected-filter').removeAttr('id');
		}
		this.id = "selected-filter";
		let listType = this.value;
		updateList(listType);
	});

	/**
	 * 새 거래 알림 멈춤
	 */
	$(document).on("click", '.new-cards',function(){
		$(this).removeClass("new-cards");
	});

	$(document).on("mouseenter", '.update-dot', function(){
		$(this).removeClass("update-dot");
	});

	/**
	 * update된 버튼과, 거래카드에 신규알림 표시
	 */
	function updateAlarm(listType, talentNo, time){
		const now = new Date();
		if(now.toISOString() <= time){
			console.log("updateAlarm time : " + time);
			console.log("now.toISOString() : " + now.toISOString());
			$('.filter-button[value="' + listType + '"]').addClass('update-dot');
			$('#talent-no-' + talentNo).addClass('new-cards');
		}
	}
	</script>
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>
</html>