<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/default-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>거래관리</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
	<style>
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
	}
	
	#trade-container {
		max-width: 80%;
		margin: 0 auto;
		padding: 20px;
	}
	
	.content{
		width : 100%;
		display: flex;
		gap : 5%;
		align-items: baseline;
	}
	
	.filter-buttons {
		width : 80%;
		margin-bottom: 20px;
	}
	
	.filter-buttons button {
		margin-right : 10px;
		cursor: pointer;
	}
	
	.filter-buttons button:hover {
		background-color: gray;
	}
	
	.filter-buttons button:active {
		background-color: #555;
		color: #fff;
		position: relative;
		top: 1px;
	}
	
	.page-title {
		margin : 0 auto;
		width : 80%;
		font-size: 22px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		background-color: #333;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		margin-bottom: 5%;
	}
	
	#list-print{
		width: 80%; 
	}
	
	.trade-list{
		flex : 5;
		border: 1px solid;
		margin-bottom: 2px;
		background-color: #8FBC8F;
	}
	
	/* modal */
	.modal-title{
		margin-left: auto;
	}
	
	.modal-content{
		background-color: ghostwhite;
	}
	
	.textarea-wrap{
		width: 100%;
	}
	
	.textarea-wrap textarea{
		min-height: 100px;
		width: 100%;
		resize: none;
		overflow-y: hidden; /* prevents scroll bar flash */
		padding: 1.1em; /* prevents text jump on Enter keypress */
		padding-bottom: 0.2em;
		line-height: 1.6;
	}
	
	/* Cards */
	.card:hover{
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	}
	
	.card.text-center{
		margin-bottom: 3%;
	}
	
	.card-header{
		font-weight: bold;
	}
	
	.card-title{
		font-weight: bold;
		font-size: large;
		cursor: pointer;
	}
	
	.img-fluid{
		height: 100%;
	}
	
	.refund-btn, .exchange-btn, .repost-btn, .repost-btn, .end-sell-btn, .refund-cancle-btn, .reject-confirm-btn{
		float: right;
		margin-right: 1%;
	}
	
	.card-text-bamboo{
		color : rgb(25, 135, 84);
		font-weight: bold;
	}
	
	.text-center{
		text-align: center;
	}
	
	.bamboo-icon{
		width: 25px;
		height: 25px;
		
	}
	
	.new-cards{
		position: relative;
		border : medium inset highlight;
		animation: shake ease-in-out;
		animation-duration: 0.4s;
		animation-iteration-count: infinite;
	}
		
	@keyframes shake {
		0% { transform: translate(0, 0); }
		25% { transform: translate(-2px, 0); }
		50% { transform: translate(0, -2px); }
		75% { transform: translate(2px, 0); }
		100% { transform: translate(0, 0); }
	}
		
	@keyframes blink {
	   0% {
	      opacity: 0;
	   }
	   50% {
	      opacity: 1;
	   }
	   100% {
	      opacity: 0;
	   }
	}
	
	.update-alarm{
		animation: shake ease-in-out;
		animation-duration: 0.4s;
		animation-delay : 0.1s;
		animation-iteration-count: infinite;
	}
	
	/* sidebar accordion */
	.accordion{
		width: 15%;
	}
	
	.accordion-button{
		justify-content: center;
		color: #fff;
		background-color: #333;
	}
	.accordion-button::after, .accordion-button::before{
		display: none;
	}
	
	.accordion-item{
		border-color: gray;
	}
	
	
	
	
	</style>
	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>
<div>
	<th:block layout:fragment="content">
	<!-- container -->
	<div id="trade-container" class="container">
		<!-- title bar -->
		<div class="page-title">
			거래관리
		</div><!-- /title bar -->
		
		<!-- filter-buttons -->
		<div class="filter-buttons">
			<button type="button" class="btn filter-button position-relative btn-outline-dark" value="all">전체
				<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle visually-hidden"></span>
			</button>
			<button type="button" class="btn filter-button position-relative btn-outline-dark" value="sell">판매
				<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle visually-hidden"></span>
			</button>
			<button type="button" class="btn filter-button position-relative btn-outline-dark" value="buy">구매
				<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle visually-hidden"></span>
			</button>
			<button type="button" class="btn filter-button position-relative btn-outline-dark" value="refund">환불
				<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle visually-hidden"></span>
			</button>

		</div> <!-- /filter-buttons -->
			<div class = "content">
		<!-- content -->
			<!-- list print -->
			<div id="list-print">
			</div> <!-- /list print -->
			<!-- 환불신청 Modal page -->
			<div id="refund-modal" class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">재능 환불 신청</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="refund-talentNo">
							<input type="hidden" id="refund-refundBamboo">
							환불 가능 밤부 : <span id="span-refund-refundBamboo"></span> <img src="/image/common/bamboo-icon.png" class="bamboo-icon"><p />
							환불 사유를 선택해 주세요<p />
							<input type="radio" name="issue" value="단순 변심">단순 변심<br>
						    <input type="radio" name="issue" value="실수">실수<br>
						    <input type="radio" name="issue" value="재능 수준 낮음">재능 수준 낮음<br>
						    <input type="radio" name="issue" value="기타">기타<br>
						    <div class="textarea-wrap">
						    	<textarea id="custom-issue-input" class="form-control" placeholder="사유를 입력해주세요."></textarea>
						    </div>	
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" id="refund-submit-btn" class="btn btn-success">제출</button>
						</div>
					</div>	
				</div>
			</div> <!-- 환불신청 Modal page -->	
		
			<!-- sidebar -->
			<div class="accordion" id="stat-accordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button"
							aria-expanded="false" aria-controls="sell-collapse">
							판매 </button>
					</h2>
					<div id="sell-collapse" class="accordion-collapse collapse"
						aria-labelledby="headingOne">
						<div class="accordion-body">
							검토중 : <span id="sidebar-submit-count"> 건</span><br>
							판매중 : <span id="sidebar-sell-count"> 건</span><br> 
							판매완료 : <span id="sidebar-sold-count"> 건</span><br>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button"
							aria-expanded="false" aria-controls="buy-collapse">
							구매 </button>
					</h2>
					<div id="buy-collapse" class="accordion-collapse collapse"
						aria-labelledby="headingTwo">
						<div class="accordion-body">
							구매완료 : <span id="sidebar-buy-count"> 건</span><br>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button"
							aria-expanded="false" aria-controls="refund-collapse">
							환불 </button>
					</h2>
					<div id="refund-collapse" class="accordion-collapse collapse"
						aria-labelledby="headingThree">
						<div class="accordion-body">
							환불신청 : <span id="sidebar-refund-submit-count"> 건</span><br>
							환불완료 : <span id="sidebar-refund-approve-count"> 건</span><br>
							환불반려 : <span id="sidebar-refund-reject-count"> 건</span><br>
						</div>
					</div>
				</div>
			</div><!-- /sidebar -->
		</div> <!-- /content -->
	</div><!-- container -->
	
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	/**
	 * statList 콜랩스
	 */
	$(function(){
		const collapseElementList = $('.collapse');
		const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl));
		const sellCollapse = new bootstrap.Collapse('#sell-collapse', {
			  toggle: false
			});
		const buyCollapse = new bootstrap.Collapse('#buy-collapse', {
			  toggle: false
			});
		const refundCollapse = new bootstrap.Collapse('#refund-collapse', {
			  toggle: false
			});
		$('.filter-button').on("click", function(){
			$this = $(this).val();
			switch($this){
				case 'all':
					sellCollapse.show();
					buyCollapse.show();
					refundCollapse.show();
					break;
				case 'sell':
					sellCollapse.show();
					buyCollapse.hide();
					refundCollapse.hide();
					break;
				case 'buy':
					sellCollapse.hide();
					buyCollapse.show();
					refundCollapse.hide();
					break;
				case 'refund':
					sellCollapse.hide();
					buyCollapse.hide();
					refundCollapse.show();
					break;
			}
			
		});
	});
	 

	/**
	 * statList 가공
	 */
	 $(function(){
		 let statList = [[${statList}]];
		 $.each(statList, function(index, stat){
			 console.log(stat);
			 switch(stat.statType){
			 	case 'sell' : 
			 		$('#sidebar-submit-count').prepend(stat.submitCount);
			 		$('#sidebar-sell-count').prepend(stat.sellCount);
			 		$('#sidebar-sold-count').prepend(stat.soldCount);
			 	break;
			 	
			 	case 'buy' : 
			 		$('#sidebar-buy-count').prepend(stat.buyCount);
			 	break;
			 	
			 	case 'refund' : 
			 		$('#sidebar-refund-submit-count').prepend(stat.refundSubmitCount);
			 		$('#sidebar-refund-approve-count').prepend(stat.refundApproveCount);
			 		$('#sidebar-refund-reject-count').prepend(stat.refundRejectCount);
			 	break;
			 }
			 
		 })
		 
	 });
	/**
	 * TimeStamp형식으로의 현재 Date 변환
	 */
	function getNow(){
		const now = new Date(Date.now());
		const year = now.getFullYear();
		const month = String(now.getMonth() + 1).padStart(2, '0');
		const day = String(now.getDate()).padStart(2, '0');
		const hours = String(now.getHours()).padStart(2, '0');
		const minutes = String(now.getMinutes()).padStart(2, '0');
		const seconds = String(now.getSeconds()).padStart(2, '0');
		
		const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
		
		return formattedDate;
	}

	/**
	 * WebSocket
	 */

	//웹소켓 객체 생성
	let webSocket = new WebSocket("ws://localhost:8888/trade-ws");

	webSocket.onopen = function(){
		console.log("webSocket opened");
	}

	webSocket.onmessage = function(message){
		console.log(message);
		//추후에 구독알림식으로 변경
		//alert("거래정보가 갱신되었습니다.");
		
		let tradeInfos = JSON.parse(message.data);
		
		updateList($('#selected-filter').val())
			.then(function(){
				$.each(tradeInfos, function(index, tradeInfo){
					console.log("tradeInfo.listType : " + tradeInfo.listType);
					updateAlarm(tradeInfo.listType, tradeInfo.talentNo, new Date().toISOString());
				});
			})
			.catch(function(error){
				console.log(error);
			});	
	}

	webSocket.onclosed = function(){
		console.log("server closed");
	}

	/**
	 * Time출력형식 변경
	 */
	function timestampToCustomFormat(timestamp){
		let date = new Date(timestamp);
		let formatted_date = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
		return formatted_date;
	}

	/**
	 * trade페이지 로드 완료시
	 * 전체 버튼 클릭
	 */
	$(function() {
		$(".filter-button[value='all']").click();
	});

	/**
	 * 판매종료 버튼 Ajax 통신 function
	 */
	$(document).on("click", ".end-sell-btn", function(){
		let talentNo = $(this).attr('id').substr(8);
		console.log('판매종료 talentNo : ' + talentNo);
		if(confirm("판매를 종료하시겠습니까?")){
			$.ajax(
					{
						type : "PUT",
						url : "/trade/talents/"+ talentNo,
						dataType : 'text',
						contentType: 'application/json',
						data : JSON.stringify({
							talentStatus : '판매종료',
							statusDate : Date.now()
							}),
						success : function(result, textStatus, xhr){
							if (xhr.status === 200) {
							    console.log('Success, put : ' + result);
							    alert('판매가 성공적으로 종료되었습니다.');
								$(".filter-button[value='all']").click();
							} else if (xhr.status === 204) {
							    console.log('Success, put : No content');
							    alert('선택한 재능이 존재하지 않습니다. 다시 시도해주세요.');
							}
						},
						error : function(xhr, textStatus, errorThrown){
					    	if(xhr.status === 401){
					    		alert('로그인이 필요합니다.');
					    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
					    	} else {
					    		alert("end-sell-btn function error : " + textStatus + ", " + errorThrown);
					    	}
						}
					}
				);
		}
		
	});

	/**
	 * 재등록버튼 Ajax 통신
	 */
	$(document).on("click", ".repost-btn", function(){
		let talentNo = $(this).attr('id').substr(8);
		console.log("talentNo : " + talentNo);
		
		if(confirm("재능을 재등록 하시겠습니까?")){
			$.ajax({
					type : "PUT",
					url : "/trade/talents/" + talentNo,
					contentType: 'application/json',
					data : JSON.stringify({
							talentStatus : '검토중',
							statusDate : Date.now()
							}),
					dataType : 'text',
					success : function(result, textStatus, xhr){
						if (xhr.status === 200) {
						    console.log('Success, put : ' + result);
						    alert('재능이 성공적으로 재등록되었습니다.');
							$(".filter-button[value='all']").click();
						} else if (xhr.status === 204) {
						    console.log('Success, put : No content');
						    alert('선택한 재능이 존재하지 않습니다. 다시 시도해주세요.');
						}
					},
					error : function(xhr, textStatus, errorThrown){
				    	if(xhr.status === 401){
				    		alert('로그인이 필요합니다.');
				    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
				    	} else {
				    		alert("repost-btn function error : " + textStatus + ", " + errorThrown);
				    	}
					}
			});	
		}
	});

	/**
	 * 환전하기 버튼 Ajax 통신 function
	 */
	$(document).on("click", ".exchange-btn", function(){
		let $this = $(this);
		let talentNo = $this.attr('id').substr(8);
		console.log('talentNo : ' + talentNo);
		if(confirm('환전을 신청하시겠습니까?')){
			$.ajax(
					{
						type : "POST",
						url : "/trade/exchanges/"+ talentNo,
						contentType: 'application/json',
						dataType : 'text',
						success : function(result, textStatus, xhr){
							if(xhr.status === 200){
								console.log('Success, posted : ' + result);
								alert('환전 신청에 성공하였습니다.');
								$(".filter-button[value='all']").click();	
							} else if (xhr.status === 204) {
							    console.log('Success, posted : : No content');
							    alert('환전 신청에 실패하였습니다. 다시 시도해주세요.');
							}
	
						},
						error : function(xhr, textStatus, errorThrown){
					    	if(xhr.status === 401){
					    		alert('로그인이 필요합니다.');
					    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
					    	} else {
					    		alert("exchange-btn function error : " + textStatus + ", " + errorThrown);
					    	}
						}
					}		
				);	 
		}
		
	});
	 
	 /**
	 * 환전 재신청 버튼 Ajax 통신
	 */
	 $(document).on("click", ".re-exchange-btn", function(){
		let $this = $(this);
		let talentNo = $this.attr('id').substr(8);
		console.log('talentNo : ' + talentNo);
		if(confirm('환전을 재신청 하시겠습니까?')){
			$.ajax(
					{
						type : "PUT",
						url : "/trade/exchanges/"+ talentNo + "/status",
						dataType : 'text',
						success : function(result){
							console.log('Success put : ' + result);
							alert('환전 재신청에 성공하였습니다.');
							$(".filter-button[value='all']").click();	
						},
						error : function(xhr, textStatus, errorThrown){
					    	if(xhr.status === 401){
					    		alert('로그인이 필요합니다.');
					    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
					    	} else {
					    		alert("re-exchange-btn function error : " + textStatus + ", " + errorThrown);
					    	}
						}
					}		
				);	 
		}
			
	});
	 
	/**
	 * 팝업창구현 : bootstrap - modal
	 */
	$(document).on('show.bs.modal', '#refund-modal', function (event) {
		// modal로 값 가져오기
		let talentNo = $(event.relatedTarget).data('refund-talentno');
		let saleBamboo = $(event.relatedTarget).data('refund-salebamboo');
		console.log(talentNo + ' , ' + saleBamboo);
		//modal 해당요소에 값 할당
		$('#refund-modal').find('#refund-talentNo').val(talentNo);
		$('#refund-modal').find('#refund-refundBamboo').val(saleBamboo);
		$('#refund-modal').find('#span-refund-refundBamboo').text(saleBamboo);
		
		//사유 기타 선택시 text 노출
		$('#custom-issue-input').hide();
		$("input[name=issue]").change(function() {
	        //기타를 선택하면 등장
			if($("input[name=issue]:checked").val() === "기타") {
			    $("#custom-issue-input").show();
			}  else {
			    $("#custom-issue-input").hide();
			}
		});
	});
	
	/**
	 * 재능환불 신청 버튼
	 */
	$(document).on('click', '#refund-submit-btn', function(){
		if(confirm('환불 신청을 하시겠습니까?')){
			if($('input[name=issue]:checked').val() === '기타'){
			    $('input[name=issue]').val($('#custom-issue-input').val());
			}
			
			var talentNo = $("#refund-talentNo").val();
			var refundBamboo = $("#refund-refundBamboo").val();
			var issue = $('input[name="issue"]:checked').val();
			
			$.ajax({
			    type: "POST",
			    url: "/trade/refund",
			    data: JSON.stringify({
			    		'talentNo' : talentNo,
			           	'refundBamboo' : refundBamboo,
			           	'issue' : issue
			    	  }),
			    contentType: 'application/json',
			    success: function(result){
		    		console.log('Success posted : ' + result);
		    		alert('재능 환불 신청에 성공하였습니다.');
		    		$('#refund-modal').modal('hide');
			    },
			    error: function(xhr, textStatus, errorThrown){
			    	if(xhr.status === 401){
			    		alert('로그인이 필요합니다.');
			    		$('#refund-modal').modal('hide');
			    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
			    	} else {
			    		alert("refund-submit-btn function error : " + textStatus + ", " + errorThrown);
			    	}
			        
			    }
			});
			
		}
			
	});
	 
	/**
	 * 환불취소 버튼 Ajax 통신 function
	 */
	$(document).on("click", ".refund-cancle-btn", function(){
		let refundPurchaseNo = $(this).attr('id').substr(10);
		console.log('refundPurchaseNo : ' + refundPurchaseNo);
		if(confirm('환불을 취소하시겠습니까?')){
			$.ajax(
					{
						type : "DELETE",
						url : "/trade/refunds/"+ refundPurchaseNo,
						contentType: 'application/json',
						dataType : 'text',
						success : function(result, textStatus, xhr){
							if(xhr.status === 200){
								console.log('Success, deleted : ' + result);
								alert("환불 신청이 취소되었습니다.");
								$(".filter-button[value='all']").click();
							} else if (xhr.status === 204) {
							    console.log('Success, deleted : : No content');
							    alert('환불 취소 신청에 실패하였습니다. 다시 시도해주세요.');
							}

						},
						error : function(xhr, textStatus, errorThrown){
					    	if(xhr.status === 401){
					    		alert('로그인이 필요합니다.');
					    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
					    	} else {
					    		alert("refund-cancle-btn function error : " + textStatus + ", " + errorThrown);
					    	}
						}
					}
				);		
		}
		 
	});
	
	/**
	 * 환불 반려 확인 버튼
	 */
	$(document).on("click", ".reject-confirm-btn", function(){
		let refundPurchaseNo= $(this).attr('id').substr(10);
		if(confirm("반려된 환불입니다.\n확인을 누르면 해당 재능은 구매완료 상태로 변경됩니다.")){
			$.ajax(
					{
						type : "DELETE",
						url : "/trade/refunds/"+ refundPurchaseNo,
						contentType: 'application/json',
						dataType : 'text',
						success : function(result, textStatus, xhr){
							if(xhr.status === 200){
								console.log('Success, deleted : ' + result);
								$(".filter-button[value='all']").click();
							} else if (xhr.status === 204) {
							    console.log('Success, deleted : : No content');
							    alert('환불 반려 확인에 실패하였습니다. 다시 시도해주세요.');
							}

						},
						error : function(xhr, textStatus, errorThrown){
					    	if(xhr.status === 401){
					    		alert('로그인이 필요합니다.');
					    		location.replace(JSON.parse(xhr.responseText).redirectUrl);
					    	} else {
					    		alert("reject-confirm-btn function error : " + textStatus + ", " + errorThrown);
					    	}
						}
					}
				);
		}
	});
	 
	/**
	 * 판매 리스트 출력
	 */
	function getSellList(item){
		const $card = $('<div>', { id: `talent-no-${item.talentNo}`, class: 'card mb-3 text-center sell-card' });
		
		const $cardHeader = $('<div>', { class: 'card-header badge text-bg-primary', text: item.talentStatus });
		
		const $cardImg = $('<img>', { class: 'img-fluid rounded-start', src: item.mainImg, onerror: "this.src='/image/common/no-img.png'" });
		const $cardImgCol = $('<div>', { class: 'col-md-4' }).append($cardImg);
		
		const $cardTitle = $('<div>', { class: 'card-title', text: item.title });
		const $bambooIcon = $('<img>', { src: '/image/common/bamboo-icon.png', class: 'bamboo-icon'});
		const $cardSaleBamboo = $('<div>', { class: 'card-text card-text-bamboo' }).append(item.saleBamboo, $bambooIcon);
		const $cardSellCount = $('<div>', { class: 'card-text', text: `${item.sellCount}명이 재능을 구매했어요`});
		
		const $endSellBtn = $('<button>', { class: 'end-sell-btn btn btn-dark', text: '판매종료', id: `sell-no-${item.talentNo}`});
		const $exchangeBtn = $('<button>', { class: 'exchange-btn btn btn-dark', text: '환전하기', id: `sell-no-${item.talentNo}`});
		const $repostBtn = $('<button>', { class: 'repost-btn btn btn-dark', text: '재등록', id: `sell-no-${item.talentNo}`});
		const $reExchangeBtn = $('<button>', { class: 're-exchange-btn btn btn-dark', text: '재신청', id: `sell-no-${item.talentNo}`});
		
		const $cardTextCol = $('<div>', { class: 'col-md-8' });
		const $cardBody = $('<div>', { class: 'card-body' });
		
		if(item.talentStatus === '게시중' && item.exchangeStatus == null) {
			$cardBody.append($cardTitle, $cardSaleBamboo, $cardSellCount, $('<div>', { class: 'card-text' }).append($endSellBtn));
			$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `판매등록날짜 : ${timestampToCustomFormat(item.regDate)}`}));
		} else if(item.talentStatus === '판매종료' && item.exchangeStatus == null){
			$cardBody.append($cardTitle, $cardSaleBamboo, $cardSellCount, $('<div>', { class: 'card-text'}).append($exchangeBtn, $repostBtn));
			$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `판매종료날짜 : ${timestampToCustomFormat(item.statusDate)}`}));
			if(item.sellCount === 0){
				$exchangeBtn.prop('disabled', true);
			}
		} else if(item.exchangeStatus != null){
			switch(item.exchangeStatus){
				case '검토중':
					$cardBody.append($cardTitle, $cardSaleBamboo, $cardSellCount, $('<div>', { class: 'card-text', text: '환전심사가 진행중인 재능입니다'}));
					break;
				case '환전완료':
					$cardBody.append($cardTitle, $cardSaleBamboo, $cardSellCount, $('<div>', { class: 'card-text', text: '환전이 완료된 재능입니다'}));
					break;
				case '반려':
					$cardBody.append($cardTitle, $cardSaleBamboo, $cardSellCount,
									 $('<div>', { class: 'card-text', text: '환전 신청이 반려되었습니다'}),
									 $('<br>'), $('<div>', { class: 'card-text'}).append($reExchangeBtn));
					break;
			}
			
			$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `판매종료날짜 : ${timestampToCustomFormat(item.statusDate)}`}));
			
		} else {
			$cardBody.append($cardTitle, $cardSaleBamboo, $('<div>', { class: 'card-text', text: '판매등록 검토중인 재능입니다'}));
			$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `판매신청날짜 : ${timestampToCustomFormat(item.statusDate)}`}));
		}

		const $cardRow = $('<div>', { class: 'row g-0' }).append($cardImgCol, $cardTextCol);
		$('#list-print').append($card.append($cardHeader, $cardRow));
		
	}		
	
	/**
	 * 구매 리스트 출력
	 */
	function getBuyList(item){
		const $card = $('<div>', { id: `talent-no-${item.talentNo}`, class: 'card mb-3 text-center buy-card' });
		
		const $cardHeader = $('<div>', { class: 'card-header badge text-bg-success', text: item.talentStatus });
		
		const $cardImg = $('<img>', { class: 'img-fluid rounded-start', src: item.mainImg, onerror: "this.src='/image/common/no-img.png'" });
		const $cardImgCol = $('<div>', { class: 'col-md-4' }).append($cardImg);
		
		const $cardTitle = $('<div>', { class: 'card-title', text: item.title });
		const $bambooIcon = $('<img>', { src: '/image/common/bamboo-icon.png', class: 'bamboo-icon' });
		const $cardUseBamboo = $('<div>', { class: 'card-text card-text-bamboo'}).append(item.useBamboo, $bambooIcon);
		const $refundBtn = $('<button>', { class: 'refund-btn btn btn-dark',
											text: '환불신청',
										   'data-bs-toggle': 'modal', 'data-bs-target': '#refund-modal',
										   'data-refund-talentno': item.talentNo, 'data-refund-salebamboo': item.useBamboo
										 });
										
			 
		const $cardTextCol = $('<div>', { class: 'col-md-8' });
		const $cardBody = $('<div>', { class: 'card-body' });
		
		if(item.refundableDate >= 0) {
			if(item.refundableDate == 0){
				$cardBody.append($cardTitle, $cardUseBamboo, $('<br>'), $('<div>', { class: 'card-text' }).text('환불신청이 가능한 마지막 날입니다!'),
								$('<br>'), $('<div>', { class: 'card-text' }).append($refundBtn));
				$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `구매날짜 : ${timestampToCustomFormat(item.purchaseDate)}`}));
								
			} else {
				$cardBody.append($cardTitle, $cardUseBamboo, $('<br>'), $('<div>', { class: 'card-text' }).text(`환불신청 가능일이 ${item.refundableDate}일 남았습니다.`),
						$('<br>'), $('<div>', { class: 'card-text' }).append($refundBtn));
				$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `구매날짜 : ${timestampToCustomFormat(item.purchaseDate)}`}));
			}
			
		} else if(item.refundableDate < 0){
			$cardBody.append($cardTitle, $cardUseBamboo, $('<br>'), $('<div>', { class: 'card-text' }).text('구매가 확정된 재능입니다.'));
			$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `구매날짜 : ${timestampToCustomFormat(item.purchaseDate)}`}));
		}

		const $cardRow = $('<div>', { class: 'row g-0' }).append($cardImgCol, $cardTextCol);
		$('#list-print').append($card.append($cardHeader, $cardRow));
		
	}

	/**
	 * 환불 리스트 출력
	 */
	function getRefundList(item){
		const $card = $('<div>', { id: `talent-no-${item.talentNo}`, class: 'card mb-3 text-center refund-card' });
		
		const $cardHeader = $('<div>', { class: 'card-header badge text-bg-danger', text: item.refundStatus });
		
		const $cardImg = $('<img>', { class: 'img-fluid rounded-start', src: item.mainImg, onerror: "this.src='/image/common/no-img.png'" });
		const $cardImgCol = $('<div>', { class: 'col-md-4' }).append($cardImg);
		
		const $cardTitle = $('<div>', { class: 'card-title', text: item.title });
		const $bambooIcon = $('<img>', { src: '/image/common/bamboo-icon.png', class: 'bamboo-icon' });
		const $cardUseBamboo = $('<div>', { class: 'card-text card-text-bamboo', 'data-use-bamboo': item.useBamboo }).append(item.useBamboo, $bambooIcon);
		const $refundCancleButton = $('<button>', { class: 'refund-cancle-btn btn btn-dark', id: `refund-no-${item.refundPurchaseNo}`, text: '신청취소' });
		const $rejectConfirmButton = $('<button>', { class: 'reject-confirm-btn btn btn-dark', id: `refund-no-${item.refundPurchaseNo}`, text: '반려확인' });
		
		const $cardTextCol = $('<div>', { class: 'col-md-8' });
		const $cardBody = $('<div>', { class: 'card-body' });
		
		switch(item.refundStatus) {
			case '검토중':
				$cardBody.append($cardTitle, $cardUseBamboo, $('<br>'), $('<div>', { class: 'card-text' }).append($refundCancleButton));
				$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `환불신청날짜 : ${timestampToCustomFormat(item.refundSubmitDate)}` }));
				break;
			case '환불완료':
				$cardBody.append($cardTitle, $cardUseBamboo);
				$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', text: `환불신청날짜 : ${timestampToCustomFormat(item.refundSubmitDate)}` }), $('<div>', { class: 'card-footer text-muted', text: `승인날짜 : ${timestampToCustomFormat(item.refundApproveDate)}` }));
				break;
			case '반려':
				$cardBody.append($cardTitle, $cardUseBamboo).append($rejectConfirmButton);
				$cardTextCol.append($cardBody, $('<br><br>'), $('<div>', { class: 'card-text text-muted', 'data-refund-submit-date' : item.refundSubmitDate, text: `환불신청날짜 : ${timestampToCustomFormat(item.refundSubmitDate)}` }));
				$cardImgCol.remove();
				break;
			default:
				console.error(`Invalid refund status: ${item.refundStatus}`);
				return;
		}

		const $cardRow = $('<div>', { class: 'row g-0' }).append($cardImgCol, $cardTextCol);
		$('#list-print').append($card.append($cardHeader, $cardRow));
	}

	/**
	 * List Update
	 * 동기적 처리 필요성이 있어서 Promise 객체를 return
	 */
	function updateList(listType){
		return new Promise(function(resolve, reject){
			$.ajax(
					{
						type : "GET",
						url : "/trade/trades",
						data : {'list-type' : listType},
						success : function(list){
							$('#list-print').empty();
							$.each(list, function(index, item){
								if(item.listType === 'sell'){
									getSellList(item);
									updateAlarm(item.listType, item.talentNo, item.statusDate);
								}
								if(item.listType === 'refund'){
									getRefundList(item);
									updateAlarm(item.listType, item.talentNo, item.refundApproveDate);
								}
								if(item.listType === 'buy'){
									getBuyList(item);
								}
								
							});

							resolve(list);
							
						},
						error : function(error){
							console.log(error);
							reject(error);
						}
					}		
			);
		});
	}

	/**
	 * 필터링 버튼
	 */
	$('.filter-button').on("click", function(){
		if($('#selected-filter') == null){
		} else {
			$('#selected-filter').removeAttr('id');
		}
		this.id = "selected-filter";
		$('.filter-buttons .active').removeClass('active');
		$(this).addClass('active');
		let listType = this.value;
		updateList(listType);
	});
	
	/**
	 * 카드 제목 클릭시 재능 상세 페이지 이동
	 */
	$(document).on("click", '.card-title', function(){
		location.href="/talents/talent/" + $(this).closest('.card').attr('id').substr(10);
	});
	
	/**
	 * 새 거래 알림 멈춤
	 */
	$(document).on("click", '.new-cards',function(){
		$(this).removeClass("new-cards");
	});
	
	$(document).on("click", ".updated-button", function(){
		$(this).children("span").addClass("visually-hidden");
		$(this).removeClass('updated-button');
	});

	/**
	 * update된 버튼과, 거래카드에 신규알림 표시
	 */
	function updateAlarm(listType, talentNo, time){
		const now = new Date();
		if(now.toISOString() <= time){
			console.log("updateAlarm time : " + time);
			console.log("now.toISOString() : " + now.toISOString());
			$('.filter-button[value="' + listType + '"]').addClass('updated-button');
			$('.filter-button[value="' + listType + '"]').children("span").removeClass('visually-hidden');
			$('#talent-no-' + talentNo).addClass('new-cards');
		}
	}
	
	/**
	 * update된 버튼과, 거래카드에 신규알림 표시
	 */
	$('.textarea-wrap').on( 'keyup', 'textarea', function (e){
		$(this).css('height', 'auto' );
		$(this).height( this.scrollHeight );
	});
	$('.textarea-wrap').find( 'textarea' ).keyup();
	
	/**
	 * modal radio, textarea 초기화
	 */
	$(document).on('click', '.refund-btn', function(){
		$('.modal input[value="단순 변심"]').prop('checked', true);
		$('.modal textarea').val('');
	});
	
	</script>
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>
</html>