<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.navbar {
  	display: flex; /* flexbox로 설정 */
  	justify-content: space-around; /* 링크 간 간격 일정하게 유지 */
  	align-items: center; /* 링크 수직 가운데 정렬 */
  	margin: 0 auto;
  	background-color: #333; /* 배경색 설정 */
  	height: 50px; /* 높이 설정 */
  	width: 1000px;
}

.navbar a {
  	color: white; /* 링크 글씨 색상 설정 */
  	text-decoration: none; /* 링크 밑줄 제거 */
  	font-size: 15px; /* 글씨 크기 설정 */
  	font-weight: bold; /* 글씨 굵기 설정 */
  	padding: 15px 20px; /* 링크 좌우 여백 설정 */
}

</style>
</head>
<script src="/js/jquery.js"></script>
<body>
	<div class="navbar">
		<a href="/talent/write-form">재능 등록</a>
  		<a href="#2">판매게시판</a>
  		<a href="#3">거래관리</a>
  		<a href="#4">충전/내역</a>
  		<a href="#5">마이페이지</a>
  		<a href="/talent/notice">공지사항</a>
	</div>
	<h2 id="notice-main">공지사함</h2>
	
	<div id="notice-list-div">
	<p class="notice-head">제목</p><p class="notice-head">내용</p><p  class="notice-head">게시일</p>
		<ul id="notice-list-ul">
			<li>
				<p>
			</li>
		</ul>
	</div>
	
	
	
	
<script type="text/javascript">
	$(function() {
		alert("asdas");
		function noticeChange(search, currentPage){
		alert("noticeChange");
			$.ajax({
				url : "/talent/notice/notices",
				type : "GET",
				data : {
						search : search, 
						currentPage : currentPage
				},
				dataType: 'json',
		          	success:function(data) {
		          		console.log(data.noticeList);
		          		console.log(data.pager);
		          	}
			});
		}
		noticeChange("s", 2);
		$('#notice-search').on('click', function(){
			noticeChange($('#search').val(), 1);
		});
		$('.notice-page').on('click', function(){
			noticeChange($('#search').val(), $(this).text());
		});
	});
</script>

</body>
</html>