<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>재능 수정</title>
<script th:if="${login} == user" th:inline="javascript">
	alert("비정상적인 이동이 감지되었습니다. 다시 로그인 해주세요.");
	location.href = "/logout";
</script>
<style type="text/css">
/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Center the form and set its max width */
form {
  max-width: 900px;
  margin: 0 auto;
}

/* Set width and margin of the CKEditor */
.ck.ck-editor {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

/* Set height of the CKEditor */
.ck-editor__editable {
  height: 500px	;
}

/* Style the category section */
.category {
  margin-top: 20px;
  text-align: center;
}

.category h4 {
  font-size: 18px;
  font-weight: bold;
}

.category p {
  margin-top: 10px;
}

/* Style the select elements */
select {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

/* Style the submit button */
button[type=submit] {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button[type=submit]:hover {
  background-color: #0069d9;
}
form {
	text-align: center;
}
table {
  border : 1px solid #EAEAEA;
}

#side {
  position: fixed;
  top: 200px;
  left: 200px;
}

.write {
	border: 1px solid #EAEAEA;
	margin: 20px;
	padding: 20px;
}

#price > div {
   display: inline-block;
}

.bamboo + p {
  display: inline-block;
  margin-left: 3px; /* 필요에 따라 여백을 조정하세요 */
  vertical-align: middle;
}

#main-image-preview {
	max-width: 600px;
}
</style>
<!-- CKEditor5 사용 -->
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
<script src="/js/jquery.js"></script>
	
</head>
<body>
	<div id="side">
	  	<table id="writeCheck">
	    	<tr data-href="#category"><td>카테고리</td><td><img class="submit-check" id="category-check" width="20" height="20" src="/image/talentImage/check.png"></td></tr>
		    <tr data-href="#main-image"><td>대표 이미지</td><td><img class="submit-check" id="main-image-check" width="20" height="20" src="/image/talentImage/check.png"></td></tr>
		    <tr data-href="#title"><td>제목</td><td><img class="submit-check" id="title-check" width="20" height="20" src="/image/talentImage/check.png"></td></tr>
		    <tr data-href="#content"><td>강의 소개</td><td><img class="submit-check" id="content-check" width="20" height="20" src="/image/talentImage/check.png"></td></tr>
		    <tr data-href="#bamboo"><td>가격</td><td><img class="submit-check" id="price-check" width="20" height="20" src="/image/talentImage/check.png"></td></tr>
		    <tr data-href="#summary"><td>요약 설명</td><td><img class="submit-check" id="summary-check" width="20" height="20" src="/image/talentImage/check.png"></td></tr>
	  	</table>
	</div>
	
	<div class="container">
		<form action="/talent/talent" method="post" name="frm" onsubmit="return check()">
		 <input type="hidden" name="_method" value="put">
		<h1>재능 등록</h1>
		<hr>
		<input type="hidden" name="sellerId" id="seller-id">
		<input type="hidden" name="talentNo" th:value="${talent.talentNo}">
	
	<div id="category" class="category">
		<h4>카테고리</h4>
		<p>강의하실 분야를 선택해 주세요.</p>
		
		<select id="upper-category-no" name="upperCategoryNo">
			<option disabled selected>대분류</option>
		</select>

		<select id="lower-category-no" name="lowerCategoryNo">
			<option disabled selected>중분류</option>
		</select>
	
	</div>
	
	<div id="main-image" class="main-img write">
		<h4>대표 이미지</h4>
		<p>메인 페이지에 보이는 썸네일 이미지이기 때문에 강의를 대표할 수 있는 이미지를 사용해 주세요<br>비율은 4:3이 가장 좋아요.</p>
		<img id="main-image-preview" width="auto" height="250" />
		<input type="file" id="choose-image-file" accept="image/jpeg, image/png, image/gif" style="display:none;"/>
		<input type="hidden" id="main-img-value" name="mainImg" th:value="${talent.mainImg}">
	</div>
	
	<div id="title" class="title write">
		<h4>제목</h4>
		<p>메인 페이지에 제목이기 때문에 강의를 대표할 수 있는 키워드를 사용해 제목을 입력해 주세요.<br>제목은 15자 이상 30자 이하로  작성해주세요.</p>
		<input type="text" id="title" name="title" class="title" th:value="${talent.title}" minlength="15" maxlength="30">
	</div>
	
	<div id ="content" class="content write">
		<h4>강의 소개</h4>
		<p>강의에 대한 소개를 작성해주세요.</p>
		<textarea id ="content-area" name = "content" class="content" th:text="${talent.content}"></textarea>
	</div>
	
	<div id="price" class="bamboo write">
		<h4>가격</h4>
		<p>정상 가격과 할인된 금액을 입력해 주세요.</p>
	<div class="price">
		<h3>정상 밤부</h3>
		<input type="number" id="bamboo" name="bamboo" class="bamboo" placeholder="1000" th:value="${talent.bamboo}"><p>밤부</p>
	</div>
	<div class="price">
		<h3>할인 밤부</h3>
		<input type="number" id="sale-bamboo" name="saleBamboo" class="bamboo" placeholder="900" th:value="${talent.saleBamboo}"><p>밤부</p>
	</div>	
	<div >
		<h3>할인율</h3>
		<input type="text" id="discount-bamboo" class="bamboo" placeholder="10" readonly><p>%</p>
	</div>
	</div>
	
	<div id="summary" class="summary write">
		<h4>요약 설명</h4>
		<p>해당 강의에 대해 간단한 설명과 수강생들에게 왜 이 강의를 들어야 하는지 짧게 작성해주세요!<br>요약 설명은 20자 이상 40자 이하로 작성해 주세요.</p>
		<input type="text" id="summary" name="summary" class="summary" th:value="${talent.summary}" minlength="20" maxlength="40">
	</div>
		
		<input type="submit" value="수정하기">
	</form>
	
	<script>
	// 사이드바 
    $('#writeCheck tr').on('click', function() {
    	location.href = $(this).data('href');
    });
    
    function check() {
   		var isReadyToSubmit = true;
		var nullarea = '';
   	  	$('.submit-check').each(function() {
   	    	if ($(this).attr('src') !== '/image/talentImage/check.png') {
   	      		isReadyToSubmit = false;
   	      		if(nullarea !== ''){
   	      			nullarea += ', ' + $(this).parent().prev().text();
   	      		}else {
   	      			nullarea += $(this).parent().prev().text();
   	      		}
   	    	}
 		});

   	  	if (!isReadyToSubmit) {
   	    	alert(nullarea + '을 다시 확인해주세요.');
   	  	}
   	  	return isReadyToSubmit;
   	}
	
    // 사이드바 체크표시
	$('.write').on('input', function(){
		var check = '#' + $(this).attr('id') + "-check";
	    console.log(check);
		var count = 0;
		var each = 0;
		var allFilled = false;
	    $(this).find('input').each(function() {
	    	each++;
	    	if($(this).val() !== '' && $(this).val() !== null) {
	        	if($(this).attr('id') == 'title'){
	        		if($(this).val().length >= 15){
			            count++;
	        		}
	        	}else if($(this).attr('id') == 'summary'){
	        		if($(this).val().length >= 20){
			            count++;
	        		}
	        	}else if($(this).attr('id') == 'discount-bamboo'){
	        		if(parseInt($('#bamboo').val()) >= parseInt($('#sale-bamboo').val())){
			            count++;
	        		}
	        	}else{
	            	count++;
        		}
        	}
	    });
		if(count == each){
			$(check).attr('src', '/image/talentImage/check.png');
		}else {
			$(check).attr('src', '/image/talentImage/white.png');
		}
	});
	// input태그 엔터키 입력시 submit되는 것 방지
	$(function() {
		$("input").on("keydown", function(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
			}
		});
	});
	
	// 메인 이미지 업로드 
	$('#main-image-preview').on('click', function() {
		  $('#choose-image-file').click();
	});
	
	$(function(){
		$('#main-image-preview').attr('src', $('#main-img-value').val());
		calculateDiscount();
	});
	
	$('#choose-image-file').on('change', function() {
		var file_kind = $(this).val().lastIndexOf('.');
		var file_name = $(this).val().substring(file_kind+1, $(this).val().length);
		var file_type = file_name.toLowerCase();

		var check_file_type = ['jpg','gif','png','jpeg','bmp', ''];
		if(check_file_type.indexOf(file_type)==-1){
		  	alert('이미지 파일만 선택할 수 있습니다.');
		  	$('#main-image-check').attr('src', "/image/talentImage/white.png");
		  	return false;
		}
		
		if($(this).val() !== ''){
			// 파일 선택 후 미리보기 기능 구현
			var reader = new FileReader();
		    reader.onload = function(e) {
		    	$('#main-image-preview').attr('src', e.target.result);
		    }
		    if(this.files[0] != null){
		    	reader.readAsDataURL(this.files[0]);
		    }else {
		    	reader.readAsDataURL($('#main-img-value').val());
		    }
		    
		    // 이미지 서버 업로드 
		    var form = new FormData();
	        form.append( "upload", $("#choose-image-file")[0].files[0]);
	        $.ajax({
	            url : "/talent/image-upload",
	         	type : "POST",
	           	processData : false,
	           	contentType : false,
	           	data : form,
	           	dataType: 'json',
	           	success:function(data) {
	            	console.log(data);
	               	$('#main-img-value').val(data.url);
	               	$('#main-img-value').trigger('input');
	           	},
	           	error: function (jqXHR) { 
	           		$('#main-image-preview').attr('src', "/image/talentImage/jpandaMainImageLabel.jpg");
	           	}
	       	});
		}
	});
	
	// CK에디터5 이미지 업로드 설정
	ClassicEditor
	.create(document.querySelector('#content-area'), {
		ckfinder: {
			uploadUrl : '/talent/image-upload'
		}
	})
	.then(editor => {
		editor.model.document.on('change:data', () => {
            if (editor.getData().trim()) {
                $('#content-check').attr('src', '/image/talentImage/check.png');
            } else {
                $('#content-check').attr('src', '/image/talentImage/white.png');
            }
        });
	})
	.catch(error => {
		console.error(error);
	});
	
	// 가격 할인율 표시
 	$('#bamboo').on("input", calculateDiscount);
 	$('#sale-bamboo').on("input", calculateDiscount);
 
	function calculateDiscount() {
    	var bambooPrice = $('#bamboo').val();
    	var saleBambooPrice = $('#sale-bamboo').val();
    
    	var discountPercent = Math.round((bambooPrice - saleBambooPrice) / bambooPrice * 100);
    	if (isNaN(discountPercent) || discountPercent === Infinity || discountPercent < 0) {
      		discountPercent = 0;
	    }
	    
	    $('#discount-bamboo').val(discountPercent);
	    
  	}
	</script>
	<script th:inline="javascript">
	// 카테고리 값 생성
	
	// model로 밭은 categoryList 값 가져오기C
  	var categoryList = /*[[${categoryList}]]*/ [];
 	var upperCatgoryNo = [[${talent.upperCategoryNo}]];
 	var lowerCatgoryNo = [[${talent.lowerCategoryNo}]];
	
  	categoryList.forEach(function(category) {
  		if(category.categoryNo === upperCatgoryNo){
  			$('#upper-category-no').append($("<option selected='selected'>").val(category.categoryNo).text(category.item));
  		}else if(category.upperCategoryNo === null) {
      		$('#upper-category-no').append($("<option>").val(category.categoryNo).text(category.item));
  			
    	}else if(category.categoryNo === lowerCatgoryNo){
    		$('#lower-category-no').append($("<option selected='selected'>").val(category.categoryNo).text(category.item));
    	}else if(category.upperCategoryNo === upperCatgoryNo){
    		$('#lower-category-no').append($("<option>").val(category.categoryNo).text(category.item));
    	}
 	});
  	
	$('#upper-category-no').on("change", function() {
		// 상위 카테고리의 값 category.category_no을 가져온다
  		var selectedCategoryNo = parseInt(this.value);
    	$('#lower-category-no').html('');
    	$('#lower-category-no').append($("<option disabled selected>").text("중분류"));
    	$('#category-check').attr('src', '/image/talentImage/white.png');
    	categoryList.forEach(function(category) {
	      	if (category.upperCategoryNo === selectedCategoryNo) {
	        	$('#lower-category-no').append($("<option>").val(category.categoryNo).text(category.item));
      		}
   		});
  	});
  	
	$('#lower-category-no').on('change', function(){
		if($(this).val() === ''){
			$('#category-check').attr('src', '/image/talentImage/white.png');
		}else {
			$('#category-check').attr('src', '/image/talentImage/check.png');
		}
	})
	
	$('#seller-id').val([[${login}]]);
	</script>
	</div> <!-- container -->
</body>
</html>