<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="/talent/write-form">재능 등록</a><p/>
	ftcxbgksj5p<a href="/talent/talent/session?session-id=ftcxbgksj5p">세션에 ID 등록하기</a>
	<form action="/talent/update-form">
	<input type="number" name="talent-no">
	<button type="submit">재능수정</button><p/>
	<div>
	<h5>최다 판매</h5>
	<img src=""><p/>
	<p></p>
	<img src=""><p/>
	</div>
	
	<div>
	<h5>최고 평점</h5>
	<img src=""><p/>
	<p></p>
	<img src=""><p/>
	</div>
	
	<div>
	<h5>최신 트렌드</h5>
	<img src=""><p/>
	<p></p>
	<img src=""><p/>
	</div>
	
	<div>
	<h5>오늘의 재능</h5>
	<img src=""><p/>
	<p>제목</p>
	<p>요약설멍</p>
	<p>강사이름</p>
	<img src=""><p/>
	</div>
	</form>
</body>
</html>