<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/default-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>페이지 제목</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
	<style>
	 /*  CSS 영역  */
	</style>
	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>

<div>
	<th:block layout:fragment="content">
	  <!-- CONTENT 영역 -->
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	/*JavaScript 영역 */
	</script>
	
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>
</html>