<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="commonJsFragment">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script th:inline = 'javascript'>
			const memberId = [[${#session.getAttribute('memberId')}]];
		</script>
	</div> <!-- commonJsFragment -->
</html>