<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerJsFragment">
	<script th:inline = 'javascript'>
		$(function(){
			const memberId = [[${#session.getAttribute('memberId')}]];
			if(memberId == "" || memberId == null){
				$("#login-image").attr("src", "/image/login-before.png");
				
				var liElement1 = $("<li></li>");
				var aElement1 = $("<a></a>", {
					class: "dropdown-item",
					href: "/login",
					text: "로그인"
				});
				liElement1.append(aElement1);
				$(".dropdown-menu").append(liElement1);
			  
				var liElement2 = $("<li></li>");
				var aElement2 = $("<a></a>", {
					class: "dropdown-item",
					href: "/signup",
					text: "회원가입"
				});
				liElement2.append(aElement2);
				$(".dropdown-menu").append(liElement2);
			  
			} else {
				$("#login-image").attr("src", "/image/login-after.png");
				
				var liElement1 = $("<li></li>");
				var aElement1 = $("<a></a>", {
					class: "dropdown-item",
					href: "/mypage",
					text: "마이페이지"
				});
				liElement1.append(aElement1);
				$(".dropdown-menu").append(liElement1);
				
				var liElement2 = $("<li></li>");
				var aElement2 = $("<a></a>", {
					class: "dropdown-item",
					text: "로그아웃"
				});
				aElement2.on('click', function() {
					 $.ajax({
						    url: '/logout',
						    type: 'DELETE',
						    success: function(response) {
								console.log(response);
						    	location.href='/login';
								
						    }
						  });
				});
				liElement2.append(aElement2);
				$(".dropdown-menu").append(liElement2);
			}
		});
		$(function(){
			$.ajax({
				url: "/charge/members/total-bamboo",
				type: "GET",
				dataType: "text",
				success: function(foundTotalBambooStr){
					console.log("Ajax success foundTotalBambooStr : " + foundTotalBambooStr);
					$('#total-bamboo').text(foundTotalBambooStr);	
				},
				error: function(){
					console.error("AJAX 요청 실패: ");
				}
			});    
		});
		// 검색 기능
		$('#search-btn').on('click', function(){
			location.href = "/board?search=" + $('#search').val();
		});
		// 통합검색 EnterKey 입력 시 검색 기능
		$('#search').on('keydown', function(value) {
			  if(value.keyCode == 13) {
				  location.href = "/board?search=" + $('#search').val();
			  }
		});
	</script>
</div> <!-- headerJsFragment -->
</html>