<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="common/layout/admin-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>관리자 밤부 환전 신청 건 조회</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

tr:hover {
	background-color: #FFFFF0;
}

th, td {
	text-align: left;
	padding: 8px;
	border-top: 1px solid #ddd;
}

th {
	background-color: #198754;
	color: white;
	white-space: nowrap;
	text-align: left;
}

td {
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}

.btn-exchange {
	border: 1px solid #198754;
	float: right;
}

.btn-exchange:hover {
	background-color: #198754;
	color: white;
}
		
.container{
	margin: 0 auto;
	width: 1000px;
}

.exchange-page {
	display: inline-block;
	border: 1px solid #EAEAEA;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#pagination{
	text-align: center;
	margin-top: 30px;
}

.exchange-page{
	text-decoration: none;
	color: black;
}

h2{
	clear: both;
	float: left;
	margin: 29px 0 22px;
	font-size: 1.5em;
	line-height: 1.5;
	color: black;
	border-bottom: 2px solid #198754;
	border-left: 10px solid #198754;
	width: 100%;
	text-align: left;
	font-weight: bold;
}

.exchange-check {
	padding: 0 20px;
}
</style>
	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>

<div>
	<th:block layout:fragment="content">
		<body>
			<h2>환전 관리</h2>
			<br>
			<table id="exchangeTable"></table>
			<br>
			<input type="button" th:name="exchangeStatus" class="btn btn-exchange" th:value="환전완료">
			<input style="margin-right: 10px" type="button" class="btn btn-exchange" th:name="exchangeStatus" th:value="반려">
			<br>
			<div id="pagination"></div>
		</body>
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	function exchangeChange(currentPage){
		$.ajax({
			url : "/admin/exchange/exchanges",
			type : "GET",
			data : { currentPage : currentPage },
			dataType: 'json',
	        success:function(returnMap) {         		
	          	var exList = returnMap.exList;
	          	var exchangeTable = $('#exchangeTable');

	            // 기존 테이블 초기화
	    		exchangeTable.empty();

	    		// 테이블 헤더 생성
	    		var tableHeader = $('<tr></tr>');
	    		var headerNo = $('<th></th>').text('선택');
	    		var headerTitle = $('<th></th>').text('신청번호');
	    		var headerTalentNo = $('<th></th>').text('재능번호');
	    		var headerSellerId = $('<th></th>').text('아이디');
	    		var headerSubmitDate = $('<th></th>').text('신청일');
	    		var headerTotal = $('<th></th>').text('총금액');
	    		var headerStatus = $('<th></th>').text('상태');
	    		tableHeader.append(headerNo).append(headerTitle).append(headerTalentNo)
	    				   .append(headerSellerId).append(headerSubmitDate).append(headerTotal)
	    				   .append(headerStatus);
	    		exchangeTable.append(tableHeader);

	    		// 받아온 데이터를 반복하며 리스트 아이템 생성
				$.each(exList, function(index, exchange) {
				  var tableRow = $('<tr></tr>').addClass('exchange-detail');
				  var checkbox = $('<td></td>').addClass('exchange-check').append(
				    $('<input/>').attr({
				      type: 'checkbox',
				      class: 'checkbox',
				      name: 'exchangeNo',
				      value: exchange.exchangeNo
				    })
				  );
				  var exchangeNo = $('<td></td>').text(exchange.exchangeNo);
				  var talentNo = $('<td></td>').text(exchange.talentNo);
				  var sellerId = $('<td></td>').text(exchange.sellerId).append(
				    $('<input/>').attr({
				      type: 'hidden',
				      name: 'sellerId',
				      value: exchange.sellerId
				    })
				  );
				  var submitDate = $('<td></td>').text(exchange.submitDate.substring(0, 10));
				  var total = $('<td></td>').text(exchange.total);
				  var exchangeStatus = $('<td></td>').text(exchange.exchangeStatus);
				  tableRow.append(checkbox, exchangeNo, talentNo, sellerId, submitDate, total, exchangeStatus);
				  
				  var exchangeTable = $('#exchangeTable');
				  exchangeTable.append(tableRow);
				});
	    			
	                var pagination = returnMap.pagination;
	                var startNum = parseInt(pagination.startNum);
	                var lastNum = parseInt(pagination.lastNum);
	                var paginationDiv = $('#pagination');
	    			
	                // 기존 페이지 번호 삭제
	                paginationDiv.empty();
	                
	                var page = $('<a></a>').addClass('exchange-page').text('<');
	                paginationDiv.append(page);
	                
	           	  	// 페이지 번호 생성
	                for (var i=startNum; i<=lastNum; i++) {
	                    var page = $('<a></a>').addClass('exchange-page').text(i);
	    				if(pagination.currentPage == i){
	    					page.css('background-color', '#198754').css('color', 'white');
	    				}
	                    paginationDiv.append(page);
	                }
	                paginationDiv.append($('<a></a>').addClass('exchange-page').text('>'));
	           	  	
					$('.exchange-page').one('click', function(){
						if($(this).text() === '<'){
							if(parseInt(pagination.currentPage) === 1){
								exchangeChange(pagination.currentPage);
							}else{
								exchangeChange(parseInt(pagination.currentPage) - 1);
							}
						}else if($(this).text() === '>'){
							if(parseInt(pagination.currentPage) === parseInt(pagination.totalPage)){
								exchangeChange(pagination.currentPage);
							}else{
								exchangeChange(parseInt(pagination.currentPage) + 1);
							}
						}else{
							exchangeChange($(this).text());
						}
					});
	          	},
	          	erorr : function(xhr, textStatus, errorThrown) {
	          		if(xhr.status === 401) {
	          			alert('로그인이 필요한 서비스 입니다');
	          			location.replace(JSON.parse(xhr.responseText).redirectUrl);
	          		} else {
	          			alert('admin exchange errpr : ' + textStatus + ',' + errorThrown);
	          		}
	          	}
		});
	}
	
	$(function() {
		exchangeChange(1);
	});
	
	let webSocket = new WebSocket("ws://localhost:8888/trade-ws");
	
	$(".btn-exchange").on("click", function(){
		let exchangeNo = $("input.checkbox:checked").map(function(){
			return $(this).val();
		}).get();
		
		if(exchangeNo.length === 0) {
			alert("하나 이상의 데이터를 선택해 주세요");
			return;
		}
		
		let exchangeDto = [];
		let exchangeStatus = $(this).val();
		let approveDate = Date.now();
		
		exchangeNo.forEach(function(item) {
			let tr = $(`input.checkbox[value='${item}']`).closest("tr");
			let td = tr.children();
		});
		
		if(exchangeStatus == '환전완료') {
			for(var i = 0; i < exchangeNo.length; i++) {
				exchangeDto.push({exchangeStatus: exchangeStatus, exchangeNo: exchangeNo[i], approveDate: approveDate});
			}
		} else if(exchangeStatus == '반려') {
			for(var i = 0; i < exchangeNo.length; i++) {
				exchangeDto.push({exchangeStatus: exchangeStatus, exchangeNo: exchangeNo[i], approveDate: approveDate});
			}
		}
		
		$.ajax({
			url : "/admin/exchange/" + exchangeNo.join(","),
			method : "PATCH",
			contentType : "application/json",
			data : JSON.stringify(exchangeDto),
			success : function(result) {
				if(result > 0) {
					webSocket.send(JSON.stringify(exchangeDto));
					alert("환전 신청이 정상적으로 처리되었습니다");
					location.href="/admin/exchange";
				} else if(result = -1) {
					location.href="/login"
				} else {
					alert("환전 신청 중 오류가 발생했습니다");
					history.back();
				}
			},
			erorr : function(xhr, textStatus, erorrThrown) {
				if(xhr.status === 401) {
					alert('로그인이 필요한 서비스 입니다');
					location.replace(JSON.parse(xhr.responseText).redirectUrl);
				} else {
					alert('admin exchange modify error : ' + textStatus + ',' + errorThrown);
				}
			}
		});
	});
	</script>

	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>
</html>
