<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportMapper">

	<select id="selectReport" resultType="AdminReportDto">
	<![CDATA[
		select 
					count(black_id) as report_count, r.black_id, m.member_status
		from 
					report r, member m
		where 
					r.black_id = m.member_id
		group by 
					black_id, member_status
		having 
					count(black_id) >= 5
		and 
					m.member_status <> 'Block_role'
		order by 
					count(black_id) desc
	]]>
	</select>
	
	<select id="selectReportByBlackId" parameterType="String" resultType="AdminReportDto">
	<![CDATA[
		select
					r.report_id, r.issue, r.report_date
		from
					report r, member m
		where
					r.black_id = #{blackId}
		and
					r.black_id = m.member_id
		and
					m.member_status <> 'Block_role'
	]]>			
	</select>
	
	<update id="updateReportByMemberId" parameterType="String">
		update
					member
		set
					member_status = 'Block_role'
		where
					member_id = #{memberId}
	</update>
	
</mapper>