<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TalentRefundMapper">
	
	<select id="selectTalentRefunByPagination" parameterType="AdminPaginationDto" resultType="AdminTalentRefundDto">
		SELECT *
		FROM (
		    	SELECT
		        			bu.buyer_id,
		        			tr.purchase_no,
					        bu.talent_no,
					        tr.refund_bamboo,
					        tr.issue,
					        tr.refund_status,
					        tr.submit_date,
					        ROW_NUMBER() OVER (ORDER BY tr.approve_date DESC) AS rnum
		    	FROM talent_refund tr, bamboo_use bu
		    	WHERE tr.purchase_no = bu.purchase_no
		    	AND tr.refund_status = '검토중'
			)
		WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="selectTalentRefundForTotalCount" resultType="int">
		SELECT 	COUNT(*)
		FROM 	talent_refund tr
		INNER 	JOIN bamboo_use bu ON tr.purchase_no = bu.purchase_no
		WHERE 	tr.refund_status = '검토중'
	</select>
	
	<update id="updateTalentRefundToSuccessByPurchaseNosAndStatus" parameterType="AdminTalentRefundDto">
		update 	talent_refund
		set		refund_status = #{refundStatus},
				approve_date = #{approveDate}
		where	purchase_no in #{purchaseNo}
	</update>
	
	<update id="updateTalentRefundToCompanionByPurchaseNosAndStatus" parameterType="AdminTalentRefundDto">
		update 	talent_refund
		set		refund_status = #{refundStatus},
				approve_date = #{approveDate}
		where	purchase_no in #{purchaseNo}
	</update>

</mapper>