<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kakkao.jPanda.mappers.njb.MemberMapper">
	   <select id="getBankList" resultType="Bank">
        SELECT code, name
        FROM bank
       </select>
<!-- 	<insert id="insertAccount" parameterType="Account">
		INSERT INTO BANK
			(code, name)
		VALUES (#{code},#{name})
	</insert>
	
	
	 -->
	<insert id="insertMember" parameterType="JoinDto">
        INSERT INTO Member
            (id, password, name, tel, email, gender ,birth)
        VALUES (#{id},#{password}, #{name},#{tel}, #{email}, #{gender} , TO_DATE(#{birth}, 'YYYY-MM-DD'))
    </insert>
	<insert id="insertAccount" parameterType="JoinDto">
        INSERT INTO Account
            (id, account, code)
        VALUES (#{id},#{account}, #{code})
    </insert>
    <select id="checkId" resultType="int" parameterType="JoinDto">
    SELECT COUNT(*) FROM member WHERE id=#{id}
	</select>
</mapper>