<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kakkao.jPanda.mappers.njb.MemberMapper">
	   
	<select id="selectBankList" resultType="BankDto">
        SELECT bank_code, name
        FROM bank
    </select>
    <select id="selectMemberById" parameterType="string" resultType="MemberDto">
    	SELECT * 
    	FROM member 
    	WHERE member_id = #{memberId}
  	</select>
	<select id="findIdByNameAndEmail" parameterType="Map" resultType="String">
		SELECT member_id
		FROM member
		WHERE name = #{name} AND email = #{email}
	</select> 
	<select id="findPwByIdAndEmail" parameterType="Map" resultType="String">
		SELECT password
		FROM member
		WHERE member_id = #{memberId} AND email = #{email}
	</select>
	<update id="updatePasswordById" parameterType="Map">
 	 	UPDATE member
 		SET password = #{newPw}
 		WHERE member_id = #{memberId}
	</update>
	<select id="selectMemberByIdAndPassword" parameterType="MemberDto" resultType="MemberDto">
		SELECT *
		FROM member
		WHERE member_id = #{memberId} AND password = #{password}
	</select>
	<insert id="insertMember" parameterType="MemberDto">
        INSERT INTO Member
            (member_id, password, name, tel, email, gender ,birth, member_status, member_grade)
        VALUES (#{memberId},#{password}, #{name},#{tel}, #{email}, #{gender} , TO_DATE(#{birth}, 'YYYY-MM-DD'), 'Normal_role', 'Bronze')
    </insert>
	<insert id="insertAccount" parameterType="MemberDto">
        INSERT INTO Account
            (member_id, account, bank_code)
        VALUES (#{memberId},#{account}, #{bankCode})
    </insert>
    <select id="checkmemberId" resultType="int" parameterType="MemberDto">
    	SELECT 
    	COUNT(*) 
    	FROM member 
    	WHERE member_id=#{memberId}
	</select>
	<update id="updateMemberStatusByMemberId" parameterType="String">
  		UPDATE member
  		set member_status = 'Withdrawal'
  		WHERE member_id = #{memberId}
	</update>
	<update id="updateMemberInfo" parameterType="MemberDto">
  		UPDATE member
  		SET name = #{name}, email = #{email}, tel = #{tel}
  		WHERE member_id = #{memberId}
	</update>
	<insert id="insertVerificationCode" parameterType="EmailVerifDto">
		INSERT INTO EMAIL_VERIF (email, verif_code)
		VALUES(#{email},#{verifCode})
	</insert>
	<select id="selectEmailVerif" resultType="EmailVerifDto" parameterType="EmailVerifDto">
		SELECT *
		FROM email_verif
		WHERE email=#{email} AND verif_code=#{verifCode}
	</select>
</mapper>