<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TradeDao">
	<select id="selectSellList" parameterType="String" resultType="SellListDto">
		SELECT 
			t.status, t.title, t.sale_bamboo, 
			t.reg_date, 
			(SELECT count(*) FROM bamboo_use bu WHERE bu.talent_no = t.talent_no) AS sell_Count
		FROM talent t
		WHERE t.seller_id = #{memberId}
		ORDER BY t.reg_date desc
	</select>
	
	<select id="selectBuyList" parameterType="String" resultType="BuyListDto">
		SELECT
		    t.title, t.sale_bamboo, b.purchase_date,
		    TRUNC(sysdate) - TRUNC(b.purchase_date) as "REFUNDABLE_DATE"
		FROM talent t
		INNER JOIN bamboo_use b
		    ON t.talent_no = b.talent_no
		WHERE b.buyer_id = #{memberId}
		ORDER BY b.purchase_date desc
	</select>
	
	<select id="selectRefundList" parameterType="String" resultType="RefundListDto">
		SELECT
			r.status, t.title, t.sale_bamboo,
			r.submit_date, r.approve_date
		FROM talent_refund r
		INNER JOIN bamboo_use b
		ON r.purchase_no = b.purchase_no
		INNER JOIN talent t
		ON b.talent_no = t.talent_no
		WHERE b.buyer_id = #{memberId}
		ORDER BY r.submit_date desc
	</select>
	
	<select id="selectStat" parameterType="String" resultType="StatDto">
		SELECT
		    (SELECT count(*) FROM talent WHERE status = '게시중' AND seller_id = #{memberID}) AS sell_count,
		    (SELECT count(*) FROM talent WHERE status = '판매종료' AND seller_id = #{memberID}) AS sold_count,
		    (SELECT count(*) FROM bamboo_use WHERE buyer_id = #{memberID}) AS buy_count,
		    (SELECT count(*) FROM talent_refund t INNER JOIN bamboo_use b ON b.purchase_no = t.purchase_no WHERE t.status = '검토중' AND b.buyer_id = #{memberID}) AS refund_submit_count,
		    (SELECT count(*) FROM talent_refund t INNER JOIN bamboo_use b ON b.purchase_no = t.purchase_no WHERE t.status = '환불완료' AND b.buyer_id = #{memberID}) AS refund_approve_count,
		    (SELECT count(*) FROM talent_refund t INNER JOIN bamboo_use b ON b.purchase_no = t.purchase_no WHERE t.status = '반려' AND b.buyer_id = #{memberID}) AS refund_reject_count
		FROM 
		    dual
	</select>
</mapper>