<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">
	<select id="selectChatListByMemberId" parameterType="String" resultType="Chat">
		SELECT *
		FROM chat
		WHERE receiver_id = #{memberId}
			OR sender_id = #{memberId}
		ORDER BY chat_date ASC
	</select>
	
	<select id="selectPartnerListByMemberId" parameterType="String" resultType="ChatPartner">	
		SELECT * 
		FROM
			(
			SELECT DISTINCT(c.sender_id) as member_id, m.name
			FROM chat c JOIN member m ON(c.sender_id = m.member_id)
			WHERE c.receiver_id = #{memberId}
	        UNION
	        SELECT DISTINCT(c.receiver_id) as member_id, m.name
			FROM chat c JOIN member m ON(c.receiver_id = m.member_id)
			WHERE c.sender_id = #{memberId}
			)
		ORDER BY name
	</select>
	
	<insert id="insertChat" parameterType="Chat">
		INSERT INTO 
			chat(chat_no, sender_id, receiver_id, message, chat_date) 
			VALUES(chat_id_seq.nextval, #{senderId}, #{receiverId}, #{message}, #{chatDate})
	</insert>
	
	<select id="selectMemberList" resultType="ChatMember">
		select *
		FROM member
		ORDER BY name
	</select>
</mapper>