<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">
	<select id="selectChatListById" parameterType="String" resultType="Chat">
		SELECT *
		FROM chat
		WHERE receiver_id = #{id}
			OR sender_id = #{id}	
	</select>
	
	<select id="selectChatList" resultType="Chat">
		SELECT *
		FROM chat
	</select>
	
	<insert id="insertChat" parameterType="Chat">
		INSERT INTO 
			chat(id, sender_id, receiver_id, message, chat_date) 
			VALUES(chat_id_seq.nextval, #{senderId}, #{receiverId}, #{message}, #{chatDate})
	</insert>
</mapper>