<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
  
<head>
	<link href="/css/bootstrap.css" rel="stylesheet" />	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.js"></script>	
	<script src="/js/jquery.js"></script>
</head>
<body>
<div class="container-fluid">

	<th:block th:replace="/common/fragment/header :: headerFragment"></th:block>
	<th:block th:replace="/common/fragment/nav :: navFragment"></th:block>

    <div layout:fragment="content">
        공통 레이아웃
    </div>

	<th:block th:replace="/common/fragment/footer :: footerFragment"></th:block>
	
</div>
</body>
</html>