<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakao.jPanda.yjh.CouponMapper">

	<insert id="insertCoupon" parameterType="AdminCoupon">
		insert 
		into coupon 
		values (#{couponCode}, #{issueDate}, #{expireDate}, #{couponValue})
	</insert>
	
	<select id="selectCouponList" resultType="AdminCoupon">
		select *
		from coupon
	</select>
	
	<select id="selectCouponForTotalCount" resultType="int">
	<![CDATA[
		SELECT 	COUNT(*) 
		FROM (
		  		SELECT
		    			count(cu.coupon_code) as usedcoupon_count,
		    			c.coupon_code,
		    			c.issue_date,
					    c.expire_date,
					    c.coupon_value
				FROM coupon c, coupon_use cu
				WHERE c.expire_date <= sysdate
				AND c.coupon_code = cu.coupon_code
				GROUP BY c.coupon_code, c.issue_date, c.expire_date, c.coupon_value
			)
	]]>
	</select>
	
	<select id="selectCouponsByPagination" resultType="AdminCoupon" parameterType="AdminPagination">
	<![CDATA[
		  SELECT *
		  FROM (
		    SELECT ROW_NUMBER() OVER (ORDER BY c.expire_date DESC) AS rnum,
		           count(cu.coupon_code) as usedcoupon_count,
		           c.coupon_code,
		           c.issue_date,
		           c.expire_date,
		           c.coupon_value
		    FROM coupon c, coupon_use cu
		    WHERE c.expire_date <= sysdate
		    AND c.coupon_code = cu.coupon_code
		    GROUP BY c.coupon_code, c.issue_date, c.expire_date, c.coupon_value
		  ) t
		  WHERE t.rnum BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>
	
</mapper>