<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakao.jPanda.yjh.TalentMapper">

	<select id="selectTalent" resultType="AdminTalent">
		select * 
		from talent
		where talent_status = '검토중'
	</select>
	
	<update id="updateTalentByTalentNos" parameterType="AdminTalent">
		update 	talent
		set 	talent_status = '게시중',
				reg_date = #{regDate},
				status_date = #{statusDate}
		where	talent_no = #{talentNo}					 
	</update>
	
</mapper>