<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/trade/sellList" method="get">
		<input type="hidden"  name=memberId value="${ memberId }">
		<button type="submit">판매</button>
	</form><br><br>
	<form action="/trade/buyList" method="get">
		<input type="hidden"  name=memberId value="${ memberId }">
		<button type="submit">구매</button>
	</form><p />
	
	<div th:each="list : ${list}">
		<div style="border: 1px solid;">
			<div th:if="${listType == 'sell'}">
			물품상태 : ${list.status}<br>
			물품제목 : ${list.title}<br>
			물품가격 : ${list.saleBamboo}<br>
			등록일 : ${list.regDate}<br>
			판매수 : ${list.sellCount}<br>
			</div>
			<div th:if="${listType == 'buy'}">
			물품상태 : 구매완료<br>
			물품제목 : ${ list.title }<br>
			물품가격 : ${ list.saleBamboo }<br>
				<div th:if="${ list.refundableDate > 7 }">
					
				</div>
				<div th:if="${ list.refundableDate <= 7 }">
					환불가능일 : ${ 7 - list.refundableDate }<br>
				</div>
			</div>
		</div>
	</div><p />
</body>
</html>
