<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  <script src="/js/jquery.js"></script>
</head>
<body>
	
	paymentKey : <input type="text" name="paymentKey-body" required="required"><br>
	orderId : <input type="text" name="orderId-body" required="required"><br>
	amount : <input type="text" name="amount-body" required="required"><br>
	<button id="tosspaments-approve-body-btn" type="button">결제승인</button>
	
	<form action="">
		paymentKey : <input type="text" name="paymentKey-body" required="required"><br>
		orderId : <input type="text" name="orderId-body" required="required"><br>
		amount : <input type="text" name="amount-body" required="required"><br>
		<button id="tosspaments-approve-form-btn" type="submit">결제승인</button>
	</form>
	
	


<script type="text/javascript">
// <script>
// ajax
	$('#tosspaments-approve-body-btn').click(function(){
		let paymentKeyBody = $('input[name = "paymentKey-body"]').val(); // val();는 입력된 값을 반환, val은 함수 자체를 반환
		let orderIdBody = $('input[name = "orderId-body"]').val();
		let amountBody = $('input[name = "amount-body"]').val();
		console.log('paymentKeyBody.val', paymentKeyBody);
		console.log('orderIdBody.val', orderIdBody);
		console.log('amountBody.val', amountBody);
		
		$.ajax({
			url: '/charge/test',
			type: 'POST',
			data: JSON.stringify({paymentKey : paymentKeyBody,	// 요청 본문에 담길 데이터를 지정 , 여기서는 JSON으로 지정
					     		  orderId	 : orderIdBody,
								  amount	 : amountBody
								}),
			contentType: 'application/JSON',					// 요청 본문에 담긴 데이터의 형식, 보내는 DATA			
			dataType: 'JSON',									// 결과로 받을 데이터의 형식, 받는 DATA
			success: function(data){
				console.log(data);
			}, 
			error: function(){
				alert("error - Ajax - tosspaments-approve-body-btn");
			}
			
		})
	});











/* 
//원래 아작스 위에 있던놈
// 결제위젯 초기화 파라미터
const clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq';
const customerKey = 'Yissk_q-MYj6zwrDEiENo';
https://docs.tosspayments.com/guides/payment-widget/integration#%EA%B2%B0%EC%A0%9C-%EC%8A%B9%EC%9D%B8-api-%ED%98%B8%EC%B6%9C%ED%95%98%EA%B8%B0


// 결제위젯 객체 초기화
const paymentWidget = PaymentWidget(clientKey, customerKey); // 회원 결제
// 비회원 결제를 하고 싶다면 아래 코드로 결제위젯 객체를 초기화하세요.
// const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS); // 비회원 결제

// 첫번째 파라미터는 선택자(Selector)입니다. 결제수단이 렌더링될 DOM 요소를 지정하는 CSS 선택자입니다. 두 번째 파라미터는 결제 금액
paymentWidget.renderPaymentMethods('#payment-method', 15000);

// 결제창 메소드
paymentWidget.requestPayment({
	  orderId: 'cJFimRluRTfsYG7-1nYW6',						// 필수
	  orderName: '토스 티셔츠 외 2건',								// 필수
	  successUrl: 'https://localhost:8888/success?paymentKey={PAYMENT_KEY}&orderId={ORDER_ID}&amount={AMOUNT}',			// 필수	https://{ORIGIN}/success?paymentKey={PAYMENT_KEY}&orderId={ORDER_ID}&amount={AMOUNT}
	  failUrl: 'https://localhost:8888/fail?paymentKey={PAYMENT_KEY}&orderId={ORDER_ID}&amount={AMOUNT}',				// 필수	https://localhost:8888/success?paymentKey={PAYMENT_KEY}&orderId={ORDER_ID}&amount={AMOUNT}
	  customerEmail: 'customer123@gmail.com', 
	  customerName: '김토스'
	})
  */
</script>
</body>
</html>
