<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kakao.jPanda.kyg.chargeMapper">

	<insert id="insertCharge" parameterType="ChargeDto">
	
		INSERT INTO bamboo_charge (
		  charge_no,
		  charger_id,
		  payment_method,
		  payment_amount,
		  charge_bamboo,
		  charge_date,
		  coupon_code
		)
		VALUES (
		  bamboo_charge_no_SEQ.NEXTVAL,
		  #{chargerId},
		  #{paymentMethod},
		  #{paymentAmount},
		  #{chargeBamboo},							
		  SYSDATE,
		  #{couponCode,  jdbcType=VARCHAR}
		)
	
	</insert>

	<insert id="insertCouponUse" parameterType="ChargeDto">
	
		INSERT INTO coupon_use(
				member_id,
				coupon_code
			)
			VALUES(
				#{chargerId},
	 		 	#{couponCode}
			)
		  
	</insert>
	
	<select id="selectCouponUse" parameterType="ChargeCouponUseDto" resultType="ChargeCouponUseDto">
	
		SELECT	*
		FROM	coupon_use
		WHERE	member_id = #{memberId, jdbcType=VARCHAR}
		AND		coupon_code = #{couponCode}
		
	</select>
	
	<select id="selectAvailAmountCoupon" parameterType="ChargeCouponUseDto" resultType="Long">
	
		SELECT	coupon_value
		FROM	coupon
		WHERE	coupon_code = #{couponCode}
		
	</select>
	
	<select id="selectCouponByCouponCode" parameterType="String" resultType="ChargeCouponDto">
	
		SELECT	*
		FROM	coupon
		WHERE	coupon_code = #{couponCode}
		
	</select>
	
	<select id="selectChargeBambooAmountByMemberId" parameterType="String" resultType="Long">
	
		SELECT	NVL(sum(charge_bamboo),0)
		FROM	bamboo_charge
		WHERE	charger_id = #{memberId, jdbcType=VARCHAR}
		
	</select>
	
	<select id="selectBambooUseAmountByMemberId" parameterType="String" resultType="Long">
		
		SELECT	NVL(sum(use_bamboo),0)
		FROM	bamboo_use
		WHERE	buyer_id = #{memberId, jdbcType=VARCHAR}
		
	</select>
	
	<select id="selectTalentRefundAmountByMemberId" parameterType="String" resultType="Long">
	
		SELECT		NVL(sum(tr.refund_bamboo),0)
		FROM		talent_refund tr
		LEFT JOIN	bamboo_use bu
		ON			tr.purchase_no = bu.purchase_no
		WHERE		tr.refund_status = '환불완료' 
		AND			bu.buyer_id = #{memberId, jdbcType=VARCHAR}
	
	</select>
	
	<select id="selectPaymentList" resultType="ChargePaymentDto">
	
		SELECT * FROM payment
		
	</select>
	
	<select id="selectBambooChargeListbyChargerId" parameterType="String" resultType="ChargeDto">
	
		SELECT  charge_date, payment_method, payment_amount, charge_bamboo 
		FROM    bamboo_charge
		WHERE   charger_id = #{chargerId, jdbcType=VARCHAR}
		<!-- WHERE   charger_id = #{chargerId} -->
		ORDER BY charge_date DESC
		
	</select>
</mapper>
