<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery.js"></script>
<link th:href="@{/css/board.css}" rel="stylesheet"/>
</head>
<body>
	<h1>환전 관리</h1>
		<table border="1">
			<tr>
				<th>선택</th>
				<th>신청번호</th>
				<th>재능번호</th>
				<th>아이디</th>
				<th>신청일</th>
				<th>총금액</th>
				<th>상태</th>
			</tr>
        	<tr th:each="exchange : ${exList}">
            	<td><input type="checkbox" class="checkbox" th:name="exchangeNo" th:value="${exchange.exchangeNo}"></td>
            	<td th:text="${exchange.exchangeNo}"></td>
           	 	<td th:text="${exchange.talentNo}"></td>
            	<td th:text="${exchange.sellerId}"><input type="hidden" name="sellerId" th:value="${exchange.sellerId}"> </td>
            	<td th:text="${exchange.submitDate}"></td>
           		<td th:text="${exchange.total}"></td>
            	<td th:text="${exchange.exchangeStatus}"></td>
       		</tr>
			<tr>
				<td colspan="7">
					<input type="button" class="btn" th:name="exchangeStatus" th:value="환전완료">
					<input type="button" class="btn" th:name="exchangeStatus" th:value="반려">
				</td>
			</tr>
		</table>
</body>
<script type="text/javascript">
	$(".btn").on("click", function(){
		let exchangeNo = $("input.checkbox:checked").map(function(){
			return $(this).val();
		}).get();
		
		if(exchangeNo.length === 0) {
			alert("하나 이상의 데이터를 선택해 주세요");
			return;
		}
		
		let exchangeDto = [];
		let exchangeStatus = $(this).val();
		let approveDate = Date.now();
		let sellerId = [];
		
		exchangeNo.forEach(function(item) {
			let tr = $(`input.checkbox[value='${item}']`).closest("tr");
			let td = tr.children();
			sellerId.push(td.eq(3).text());
		});
		
		if(exchangeStatus == '환전완료') {
			for(var i = 0; i < exchangeNo.length; i++) {
				exchangeDto.push({exchangeStatus: exchangeStatus, exchangeNo: exchangeNo[i], approveDate: approveDate, sellerId: sellerId[i]});
			}
		} else if(exchangeStatus == '반려') {
			for(var i = 0; i < exchangeNo.length; i++) {
				exchangeDto.push({exchangeStatus: exchangeStatus, exchangeNo: exchangeNo[i], approveDate: approveDate, sellerId: sellerId[i]});
			}
		}
		
		$.ajax({
			url : "/admin/exchange/" + exchangeNo.join(","),
			method : "PATCH",
			contentType : "application/json",
			data : JSON.stringify(exchangeDto),
			success : function(result) {
				if(result > 0) {
					alert("환전 신청이 정상적으로 처리되었습니다");
					location.href="/admin/exchanges";
				} else if(result = -1) {
					location.href="/login"
				} else {
					alert("환전 신청 중 오류가 발생했습니다");
					history.back();
				}
			},
			erorr : function(jqXHR, textStatus, erorrThrown) {
				alert("처리중 오류가 발생했습니다");
			}
		});
	});
</script>
</html>