<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/common/layout/admin-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>페이지 제목</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

td {
	border: 1px solid #ddd;
}
</style>
	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>

<div>
	<th:block layout:fragment="content">
		<body>
			<h1>환전 관리</h1>
			<table border="1">
				<tr>
					<th>선택</th>
					<th>신청번호</th>
					<th>재능번호</th>
					<th>아이디</th>
					<th>신청일</th>
					<th>총금액</th>
					<th>상태</th>
				</tr>
				<tr th:each="exchange : ${exList}">
					<td><input type="checkbox" class="checkbox"
						th:name="exchangeNo" th:value="${exchange.exchangeNo}"></td>
					<td th:text="${exchange.exchangeNo}"></td>
					<td th:text="${exchange.talentNo}"></td>
					<td th:text="${exchange.sellerId}"><input type="hidden"
						name="sellerId" th:value="${exchange.sellerId}"></td>
					<td th:text="${exchange.submitDate}"></td>
					<td th:text="${exchange.total}"></td>
					<td th:text="${exchange.exchangeStatus}"></td>
				</tr>
				<tr>
					<td colspan="7"><input type="button" class="btn"
						th:name="exchangeStatus" th:value="환전완료" style="border: 1 solid;"> <input
						type="button" class="btn" th:name="exchangeStatus" th:value="반려" style="border: 1 solid;">
					</td>
				</tr>
			</table>
		</body>
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	let webSocket = new WebSocket("ws://localhost:8888/trade-ws");
	$(".btn").on("click", function(){
		let exchangeNo = $("input.checkbox:checked").map(function(){
			return $(this).val();
		}).get();
		
		if(exchangeNo.length === 0) {
			alert("하나 이상의 데이터를 선택해 주세요");
			return;
		}
		
		let exchangeDto = [];
		let exchangeStatus = $(this).val();
		let approveDate = Date.now();
		
		exchangeNo.forEach(function(item) {
			let tr = $(`input.checkbox[value='${item}']`).closest("tr");
			let td = tr.children();
		});
		
		if(exchangeStatus == '환전완료') {
			for(var i = 0; i < exchangeNo.length; i++) {
				exchangeDto.push({exchangeStatus: exchangeStatus, exchangeNo: exchangeNo[i], approveDate: approveDate});
			}
		} else if(exchangeStatus == '반려') {
			for(var i = 0; i < exchangeNo.length; i++) {
				exchangeDto.push({exchangeStatus: exchangeStatus, exchangeNo: exchangeNo[i], approveDate: approveDate});
			}
		}
		
		$.ajax({
			url : "/admin/exchange/" + exchangeNo.join(","),
			method : "PATCH",
			contentType : "application/json",
			data : JSON.stringify(exchangeDto),
			success : function(result) {
				if(result > 0) {
					webSocket.send(JSON.stringify(exchangeDto));
					alert("환전 신청이 정상적으로 처리되었습니다");
					location.href="/admin/exchanges";
				} else if(result = -1) {
					location.href="/login"
				} else {
					alert("환전 신청 중 오류가 발생했습니다");
					history.back();
				}
			},
			erorr : function(jqXHR, textStatus, erorrThrown) {
				alert("처리중 오류가 발생했습니다");
			}
		});
	});
	</script>

	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>
</html>