<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery.js"></script>
<link th:href="@{/css/board.css}" rel="stylesheet"/>
</head>
<body>
	<form action="/admin/notice" method="post" onsubmit="return chk()">
		<table border="1">
			<tr>
				<th>제목</th>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea rows="50" cols="50" name="content"></textarea></td>
			</tr>
			<tr>
				<th>게시일</th>
				<td><input type="date" name="regDate"></td>
			</tr>
			<tr>
				<th>게시글 번호</th>
				<td><input type="number" name="noticeNo"></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit" value="적용">적용</button></td>
			</tr>
		</table>
	</form>
	
<script type="text/javascript">
	function chk() {
		const title = $("input[name=title]");
		const content = $("textarea[name=content]");
		const regDate = $("input[name=regDate]");
		const noticeNo = $("input[name=noticeNo]");
		
		if(title.val() === null || title.val() === ""){
			alert("제목을 입력하세요");
			title.focus();
			return false;
		} else if(content.val() === null || content.val() === "") {
			alert("내용을 입력하세요");
			content.focus();
			return false;
		} else if(regDate.val() === null || regDate.val() === "") {
			alert("게시일을 입력하세요");
			regDate.focus();
			return false;
		} else if(noticeNo.val() === null || noticeNo.val() === "") {
			alert("번호를 입력하세요");
			noticeNo.focus();
			return false;
		} else {
			return true;
		}
	
	}
</script>
</body>
</html>