<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery.js"></script>
<link th:href="@{/css/board.css}" rel="stylesheet"/>
</head>
<body>
	<h1>공지사항</h1>
	<form action="/admin/notice-form" method="get">
		<table border="1">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성일</th>
			</tr>
        	<tr th:each="notice : ${noticeList}">
            	<td th:text="${notice.noticeNo}"></td>
           	 	<td>
           	 		<a th:href="'/admin/notices/' + ${notice.noticeNo}" th:text="${notice.title}"></a>
           	 	</td>
            	<td th:text="${notice.regDate}"></td>
       		</tr>
			<tr>
				<td colspan="7">
					<input type="submit" value="작성하기">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>