<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/common/layout/admin-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>페이지 제목</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

td {
	border: 1px solid #ddd;
}
</style>
	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>

<div>
	<th:block layout:fragment="content">
		<body>
			<h1>판매 등록 신청 현황</h1>
			<table border="1">
				<tr>
					<th>선택</th>
					<th>아이디</th>
					<th>재능번호</th>
					<th>제목</th>
					<th>요약 설명</th>
					<th>신청 날짜</th>
					<th>상태</th>
				</tr>
				<tr th:each="talent : ${talentList}">
					<td><input type="checkbox" class="checkbox" name="talentNo"
						th:value="${talent.talentNo}"></td>
					<td th:text="${talent.sellerId}"><input type="hidden"
						class="hid" name="sellerId" th:value="${talent.sellerId}"></td>
					<td th:text="${talent.talentNo}"></td>
					<td><a class="detail"
						th:href="'/admin/talents/' + ${talent.talentNo}"
						th:text="${talent.title}"></a></td>
					<td th:text="${talent.summary}"></td>
					<td th:text="${talent.statusDate}"></td>
					<td th:text="${talent.talentStatus}"></td>
				</tr>
				<tr>
					<td colspan="7"><input type="button" class="btn" value="검토 완료">
					</td>
				</tr>
			</table>
		</body>
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	let webSocket = new WebSocket("ws://localhost:8888/trade-ws");

 	$(".btn").on("click", function(){
		let talentNo = $("input.checkbox:checked").map(function(){
			return $(this).val();
		}).get();
		
		if(talentNo.length == 0) {
			alert("하나 이상의 데이터를 체크해주세요.");
			return;
		}
		
		let talentDto = [];
		let regDate = Date.now();
		let statusDate = Date.now();
		
		for(var i = 0; i < talentNo.length; i++) {
			talentDto.push({regDate: regDate, statusDate: statusDate, talentNo: talentNo[i]});
		}
		
		$.ajax({
			url : "/admin/talents/" + talentNo.join(","),
			method : "PATCH",
			contentType : "application/json",
			data : JSON.stringify(talentDto),
			success : function(result) {
				if(result > 0) {
					webSocket.send(JSON.stringify(talentDto));
					alert("성공적으로 반영되었습니다");
					location.href="/admin/talents";
				} else {
					alert("수정사항 입력 중 오류 발생했습니다");
					history.back();
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				alert("처리중 오류가 발생했습니다");
			}
		});
	});
	</script>

	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>
</html>