<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery.js"></script>
<link th:href="@{/css/board.css}" rel="stylesheet"/>
</head>
<body>
	<h1>판매 등록 신청 현황</h1>
	<form id="frm" method="POST">
  	<input type="hidden" name="_method" value="PATCH">
		<table border="1">
			<tr>
				<th>선택</th>
				<th>아이디</th>
				<th>재능번호</th>
				<th>제목/눌렀을때 상세 내용 보이게</th>
				<th>요약 설명</th>
				<th>신청 날짜</th>	
				<th>상태</th>
			</tr>
        	<tr th:each="talent : ${talentList}">
            	<td><input type="checkbox" class="checkbox" name="sellerId" th:value="${talent.sellerId}"></td>
            	<td th:text="${talent.sellerId}"></td>
           	 	<td th:text="${talent.talentNo}"></td>
            	<td th:text="${talent.title}"></td>
            	<td th:text="${talent.summary}"></td>
           		<td th:text="${talent.regDate}"></td>
            	<td th:text="${talent.status}"></td>
       		</tr>
			<tr>
				<td colspan="7">
					<input type="button" class="submit" value="검토 완료">
				</td>
			</tr>
		</table>
	</form>
</body>
<script type="text/javascript">
	$(".submit").on("click", function(){
		const sellerId = $("input.checkbox:checked").map(function(){
			return $(this).val();
		}).get();
		
		if(sellerId.length == 0) {
			alert("하나 이상의 데이터를 체크해주세요.");
			return;
		}
		
		const url = "/admin/talents/"+sellerId.join(",");
		$("#frm").attr("action", url).submit();
	})
</script>
</html>