<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="talentMapper">
	
	<!-- 상세 페이지  -->
	<select id="selectBoardTalentByTalentNo" resultType="BoardTalent" parameterType="Long">
		SELECT talent_no, title, seller_id, main_img, summary, bamboo, sale_bamboo, content
		FROM talent
		WHERE talent_no = #{talentNo}
	</select> 
	
	<!-- 리뷰 리스트 셀렉트  -->
	<select id="selectReviewListByTalentNo" parameterType="Long" resultType="BoardReview">
		SELECT reviewer_id, content, review_date, bamboo_score, review_no
		FROM review
		WHERE talent_no = #{talentNo}
		ORDER BY review_date DESC
	</select>
	
	<!-- 리뷰 인서트  -->	
	<insert id="insertReview" parameterType="BoardReview">
		INSERT INTO review (talent_no, reviewer_id, content, review_date, bamboo_score, review_no) 
    	VALUES (#{talentNo}, #{reviewerId}, #{content}, #{reviewDate}, #{bambooScore}, REVIEW_NO_SEQ.nextval)
	</insert>
	
	<!-- 리뷰 업데이트  -->	
	<update id="updateReview" parameterType="BoardReview">
		UPDATE review SET content = #{content}, bamboo_score = #{bambooScore}
		WHERE review_no = #{reviewNo}
	</update>
	
	<!-- 리뷰 딜리트  -->	
	<delete id="deleteReview" parameterType="BoardReview">
		DELETE FROM review
		WHERE review_no = #{reviewNo}
	</delete>
	
	<!-- 게시글 삭제(업데이트) -->
	<update id="updateTalent" parameterType="Long">
		UPDATE talent SET talent_status = '판매종료'
		WHERE talent_no = #{talentNo}
	</update>
	
	<!-- 리뷰 인서트 검증 -->
	<select id="selectBambooUseListByTalentNo" parameterType="Long" resultType="BoardBambooUse">
		SELECT *
		FROM bamboo_use
		WHERE talent_no = #{talentNo}
	</select>
	
	<!-- 재능 구매자 정보 인서트  -->
	<insert id="insertBambooUse" parameterType="BoardBambooUse">
		INSERT INTO bamboo_use (buyer_id, talent_no, purchase_date, use_bamboo, purchase_no)
		VALUES (#{buyerId}, #{talentNo}, #{purchaseDate}, #{useBamboo}, PURCHASE_NO_SEQ.nextval)
	</insert>
	
	<!-- 구매 여부 확인 용도 -->
	<select id="selectBuyCheckByBambooUse" parameterType="BoardBambooUse" resultType="int">
		SELECT COUNT(*)
		FROM bamboo_use
		WHERE talent_no = #{talentNo} 
		AND buyer_id = #{buyerId}
	</select>
	
	
	
</mapper>




