<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="talentMapper">
	<select id="selectTalentListByCriteria" parameterType="Criteria" resultType="Talent">
	SELECT *
    FROM (
        SELECT t.talent_no, t.seller_id, t.main_img, t.title, t.summary, t.bamboo,
        t.sale_bamboo, ROUND(AVG(r.bamboo_score),0) AS bambooScore
        FROM talent t, review r
        WHERE t.talent_no = r.talent_no 
        AND t.status = '게시중'
        GROUP BY t.talent_no, t.seller_id, t.main_img, t.title, t.summary, t.bamboo, t.sale_bamboo, t.status
        ORDER BY t.talent_no DESC
    	) 
    WHERE ROWNUM BETWEEN #{startPage} AND #{recordsPerPage}
	</select>
	
	<select id="selectNoticeList" resultType="Notice">
		SELECT *
		FROM notice
	</select>
	
	<select id="selectUpperCategoryList" resultType="Category" >
		SELECT *
		FROM category
		WHERE upper_category_no IS null
	</select>
	
	<select id="selectTalentByTalentNo" resultType="Talent" parameterType="Long">
		SELECT *
		FROM talent
		WHERE talent_no = #{talentNo}
	</select>
	
	<select id="selectTalentListByUpperCategoryNo" resultType="Talent" parameterType="Long">
		SELECT t.talent_no, t.seller_id, t.main_img, t.title, 
		t.summary, t.bamboo, t.sale_bamboo, ROUND(AVG(r.bamboo_score),0) AS bambooScore
		FROM talent t, review r
		WHERE t.talent_no = r.talent_no
		AND   t.status = '게시중'
		AND   upper_category_no = #{upperCategoryNo}
		GROUP BY t.talent_no, t.seller_id, t.main_img, t.title, t.summary, t.bamboo, t.sale_bamboo, t.status
		ORDER BY t.talent_no DESC
	</select>

	<select id="selectLowerCategoryListByUpperCategoryNo" resultType="Category" parameterType="Long">
		SELECT *
		FROM category
		WHERE upper_category_no = #{upperCategoryNo}
	</select>
	
	<select id="selectTalentListByLowerCategoryNo" resultType="Talent" parameterType="Long">
		SELECT t.talent_no, t.seller_id, t.main_img, t.title, 
		t.summary, t.bamboo, t.sale_bamboo, ROUND(AVG(r.bamboo_score),0) AS bambooScore
		FROM talent t, review r
		WHERE t.talent_no = r.talent_no
		AND   t.status = '게시중'
		AND   lower_category_no = #{lowerCategoryOne}
		GROUP BY t.talent_no, t.seller_id, t.main_img, t.title, t.summary, t.bamboo, t.sale_bamboo, t.status
		ORDER BY t.talent_no DESC
	</select>
	
	<select id="selectTalentTotalCountByCriteria" parameterType="Criteria" resultType="int">
		SELECT count(*)
		FROM talent
		WHERE status = '게시중'
	</select>
	
	<select id="selectTestTalentList" resultType="TestTalent">
		SELECT t.talent_no, t.seller_id, t.main_img, t.title, 
		t.summary, t.bamboo, t.sale_bamboo, ROUND(AVG(r.bamboo_score),0) AS bambooScore
		FROM talent t, review r
		WHERE t.talent_no = r.talent_no
		AND   t.status = '게시중'
		GROUP BY t.talent_no, t.seller_id, t.main_img, t.title, t.summary, t.bamboo, t.sale_bamboo, t.status
		ORDER BY t.talent_no DESC
	</select>
	
</mapper>




